[2018-10-15 22:40] Melectrome opened #1 "Changing to red team in any way crashes the game"
By trying to change to the red team in any way the game crashes, whether it's by the jointeam command, the changeto command or the toggleclasspanel UI.

To reproduce: Switch to red team in any way mentioned above and watch your game crash :p

[2018-10-15 22:46] Melectrome opened #2 "sf_charger_health_increment has no effect"
`sf_charger_health_increment` is supposed to increase the amount of health you get from the health chargers. By increasing it, healing doesn't speed up...

To reproduce: Change the `sf_charger_health_increment` cvar server-side to anything above 1, hurt yourself in-game, and use the charger. You'll notice that the health charger still heals like sf_charger_health_increment is set to 1.
Another thi

[2018-10-15 22:51] Melectrome opened #3 "When scoreboard is open, you get an error every second"
When the scoreboard is open, the console will output this error every second:
panel.cpp (3541) : Assertion Failed: ( IsX360() || IsConsoleStylePanel() ) || IsKeyBoardInputEnabled()

To reproduce: Join a game, and open the scoreboard by pressing the TAB button, then view console. To view the command spam live, use the developer 1 command.

[2018-10-15 22:53] TheZoc commented on #2
Fixed in 1.9.6 Beta 2

[2018-10-15 22:53] #2 closed, assigned to TheZoc

[2018-10-15 22:54] Melectrome opened #4 "Freezing shotgun animations"
**This issue is a placeholder, it needs to be investigated more.**
When two or more shells are fired from the shotgun, when reloading the animation shows the first shell being loaded, and then the animation freezes. It comes back when the shotgun is fully reloaded, then the reload animation stops and the shotgun is back to normal.

To reproduce: Fire two or more shells from the shotgun, and watch

[2018-10-15 22:57] TheZoc commented on #3
Those are VGUI warnings, on the Assert below.
Not fixable, but will go away in Release 😉

[code]

[2018-10-15 22:57] #3 closed, assigned to TheZoc

[2018-10-15 22:59] TheZoc commented on #4
Fixed in 1.9.6 Beta 2, by removing Tony Sergi animation fixes

[2018-10-15 22:59] #4 closed, assigned to TheZoc

[2018-10-15 23:04] Melectrome commented on #1
UPDATE: This applies to every team (including spectator), and it only crashes during combat phase.

[2018-10-15 23:07] Melectrome opened #5 "Bugs after match end"
**This needs a little bit more of investigation**
After a match ends, the map changes very quickly, and everything seems to be normal until you spawn. The timer is at 0, the scores in the scoreboard are the same, and the image in the scoreboard saying which team won is still there. Additionally, when you shoot you fire extremely fast and you don't loose bullets.

To reproduce: Finish a match (eith

[2018-10-15 23:19] Melectrome opened #6 "Team change bug(s)"
**This one needs slightly more investigation as well.**
During build phase, when you change teams you get teleported to spawn but you don't get suicided.

To reproduce: The server has to be in build phase. Use the `jointeam` command or the class change UI to change teams, and experience the weirdest bug ever.

[2018-10-15 23:21] Melectrome commented on #5
Small update: When the mapchange is supposed to occur the console says that the server can't change to the next map (in 1.9.6 Beta 1 case it's sf_skywalk). **This needs more investigation!**

[2018-10-15 23:24] Melectrome opened #7 "Crouch stuttering"
**This one also needs more research, because it has only been tested on a local listenserver.**
Any movement while crouched appears to be stuttery.

To reproduce: Crouch and move around. Notice how the camera instead of moving smoothly stutters. This is most visible when bunnyhopping after sprinting.

[2018-10-16 00:55] TheZoc commented on #6
Fixing this was non-trivial.

I added a hack to allow players to take damage of the type DMG_GENERIC during build phase.
I think there isn't another source of this kind of damage during build phase, so I think we'll be fine here.

[2018-10-16 00:55] #6 closed, assigned to TheZoc

[2018-10-16 00:56] TheZoc commented on #5
Can you try adding another map from SF19.4 and modifying `maplist.txt` in the mod directory to see if this is fixed, please? :)

[2018-10-16 00:56] TheZoc commented on #1
Fixed on SF 1.9.6 Beta 2

[2018-10-16 00:56] #1 closed, assigned to TheZoc

[2018-10-16 01:26] TheZoc commented on #7
Seems to be working fine here. Mind testing again in Beta 2? :)

[2018-10-16 05:18] Melectrome commented on #7
Will do

[2018-10-16 05:19] Melectrome commented on #5
Will do.

[2018-10-16 05:46] Nick12506 opened #8 "Jointeam Exploit"
Get ingame

Open Console

Type "Jointeam 2"

Respawn, if invisible in thirdperson it worked if not just spam the command a few times. Now you can exploit a lot, like not dying from bullets and clipping through bases.

Also works with both red/blue jointeam numbers.

[2018-10-16 11:51] Melectrome commented on #8
Note: This bug is also present in 1.9.4.1
~~What needs to be tested still is whether this issue is client-side only or is it server-side too.~~

[2018-10-16 16:18] Melectrome commented on #7
[https://youtu.be/Wl_QRjax8kE](https://youtu.be/Wl_QRjax8kE)
I made a video example. It's still noticeable on the default `cl_interp` setting (0.1), it's more noticeable the lower your `cl_interp` is.
If it's not really noticeable in the video, try it for yourself in-game.

[2018-10-16 16:23] Melectrome opened #9 "Another team change bug"
It's similar to the bug that didn't kill you on build phase, except this time it's for combat phase only.

Changing teams in build phase **kills you occasionally and flings your ragdoll across the map when it does**. Changing teams in combat phase however, doesn't kill you at all...

[2018-10-16 16:53] Melectrome opened #10 "Choppy animations in b2"
https://youtu.be/NEIiuxUDGjw

[2018-10-16 21:07] Melectrome commented on #7
This is confirmed to be only a problem in singleplayer listenservers. HL2DM and sourceforts 1.9.4.1 have the same issue. Closing!

[2018-10-16 21:07] #7 closed, assigned to nobody

[2018-10-16 21:24] Melectrome opened #11 "Players invincible"
You know what I'm talking about.

[2018-10-16 21:25] Melectrome commented on #10
Fixed! Kind of. It was fixed from the beggining xd

[2018-10-16 21:25] #10 closed, assigned to nobody

[2018-10-16 21:29] Melectrome opened #12 "Blocks doing damage in build phase"
During build phase, you can hurt yourself with blocks. It's not exactly damage since you're invincible in build phase, but you get the on-screen indicator.

To reproduce: During build phase, toss a block high up and make it land on you.

[2018-10-16 21:36] Melectrome commented on #5
I fixed it by adding a mapcycle.txt file into the /cfg/ folder. This needs to be documented in server tutorials. SF1.9.4.1 had a similar issue of missing mapcycle.txt in /cfg/.

[2018-10-17 07:41] Nick12506 opened #13 "­"
![beta](https://user-images.githubusercontent.com/11761833/47070055-77480480-d1be-11e8-8b91-63a200bcc884.png)

[2018-10-17 18:55] Melectrome commented on #13
Duplicate of [#10](https://github.com/TheZoc/sourceforts-bug-tracker/issues/5)

[2018-10-17 18:56] Melectrome commented on #13
This can be fixed by forcing a random (or the same map) string for the `nextlevel` cvar upon the map being loaded

[2018-10-17 18:57] Melectrome commented on #13
Or by just completely ignoring it and adding a mapcycle.txt file to /cfg/ ;p

[2018-10-18 00:44] #13 closed, assigned to nobody

[2018-10-18 00:45] Nick12506 commented on #5
Thanks, we'll just need to make sure to include one on the release.

[2018-10-18 02:11] TheZoc commented on #5
So, We just need to move the file to the cfg folder and that's it?

[2018-10-18 02:14] TheZoc commented on #12
Check if this problem is fixed on beta 3 please :)

[2018-10-18 02:14] TheZoc commented on #11
This needs more investigation. Specially when and why it happens.

[2018-10-18 02:15] TheZoc commented on #8
Check if this still happens on beta 3 please.

[2018-10-18 03:00] Nick12506 commented on #8
It does.

[2018-10-18 16:20] Melectrome commented on #5
Fron what I've tested, yes. The mapcycle.txt file is supposed to be in the /cfg/ folder in sdk 2013 just like in tf2 from what it seems.

[2018-10-19 05:53] Nick12506 opened #14 "Game crashes if map doesn't have player spawner."
Before the game would just spawn you at 0,0,0 allowing.

Might not be a issue though might as well report it.

[2018-10-22 22:16] TheZoc commented on #9
Fixed in beta 4

[2018-10-22 22:16] #9 closed, assigned to nobody

[2018-10-22 22:16] #12 closed, assigned to nobody

[2018-10-22 22:17] TheZoc commented on #14
Give bsp example map, please :)

[2018-10-22 22:59] TheZoc commented on #8
Hopefully this is fixed in beta 4, since I changed JoinTeam to behave exactly as ChangeTeam :)

Please, try it

[2018-10-22 23:13] TheZoc opened #15 "Sprint issues"
Prediction is broken on all betas, up to Beta 3

Hopefully I fixed it in Beta 4, but with this fix I broke how it drains stamina and recharge time. This should be fixed in Beta 5, if everything else is working correctly :)

[2018-10-22 23:15] TheZoc commented on #5
I moved `mapcycle.txt` to /cfg/, will be in the correct folder in Beta 5 (Sorry, just missed it for beta 4)

Any idea about the supposed location for the file `maplist.txt`?

[2018-10-22 23:16] TheZoc commented on #11
This is elusive as it gets: I have no idea yet what causes it, why it happens (and, ofc, how to fix).

This definitely needs WAY more testing.

[2018-10-23 00:53] Nick12506 commented on #8
Changeteam was also effected by the bug. I was able to replicate it again on the latest build.

I first started a game, clicked on blue team and spawned.
After, I jointeamed to red and was affected by the exploit.

I tried with both jointeam and changeteam with the same results.

[2018-10-23 00:56] Nick12506 commented on #5
I think the Maplist.txt has always been in the root of sf dir. I pulled up multiple SF backups I have and they've all been there.

[2018-10-23 01:03] Nick12506 commented on #14
I researched it and it's a quirk with the new engine..

[2018-10-23 01:03] #14 closed, assigned to TheZoc

[2018-10-23 07:53] Nick12506 commented on #11
Yeah, right now people can't die from others.

[2018-10-23 07:54] Nick12506 opened #16 "Jeeps broken"
Attempted to create unknown entity type prop_vehicle_jeep!

Put this at the bottom of the fixing pile.

[2018-10-23 07:56] Nick12506 opened #17 "The flag icon in the player tab menu changes size"
![image](https://user-images.githubusercontent.com/11761833/47344926-98559d00-d677-11e8-9358-7a9ebf2c3296.png)

[2018-10-23 08:00] TheZoc commented on #11
It seems to be random, I can't find a reason why it is triggered. I wonder if it can be related to #8 in some way.

[2018-10-23 08:01] TheZoc commented on #17
I have no idea why VGUI is acting odd :(

[2018-10-23 08:02] TheZoc commented on #16
I think SF194 removed jeeps for some reason... I need to check the old code.

[2018-10-23 08:04] TheZoc opened #18 "Team Selection class button hovering"
Hovering and Clicking a button in the class menu doesn't change it's appearance, even if they're working correctly when clicked.

[2018-10-23 08:04] Nick12506 opened #19 "2nd ammo for smg doesn't work"
^

[2018-10-23 08:05] Nick12506 commented on #18
Confirming :P

[2018-10-23 08:06] Nick12506 commented on #17
It shrinks as time goes on :/

[2018-10-23 08:08] Nick12506 commented on #11
I don't think it's random. Sunseille and I are unable to harm each other.

I'd think so though in that mode I'm able to kill people via explosions and with this I am not able to.

[2018-10-23 08:08] Nick12506 commented on #16
Send the code and I'll check it for you! :P

[2018-10-23 08:09] TheZoc commented on #11
If you can find a sure way to trigger it (steps to reproduce the bug), would be a good help.
Steps to avoid it are also helpful.

Currently, the reason why this happen is unknown

[2018-10-23 08:11] TheZoc commented on #19
Which one is supposed to be this one? Team smoke grenade?

[2018-10-23 08:11] TheZoc commented on #16
I'll keep this open to avoid other possible bugs lurking around.

[2018-10-23 08:21] Nick12506 commented on #16
Oh, I clicked the closed button by mistake. There next to each other :/

[2018-10-23 08:22] Nick12506 commented on #19
It's should be a grenade launcher by default though team smoke grenades are a way better plan imo

[2018-10-23 08:23] Nick12506 commented on #11
I haven't played a game with another person that I've been able to kill.

I'll test tmw, 5am here.

[2018-10-23 19:25] Melectrome commented on #15
Seems to be fixed in Beta4 from what I've tested.
Only thing still buggy is the speed multiplier, the depletion multiplliers work fine.

[2018-10-23 19:27] Melectrome commented on #19
2nd ammo for soldiers gun (idk what was the name of it) also doesnt work

[2018-10-23 19:37] Melectrome commented on #5
Ugh, this needs to be open for a while longer, I'm getting headaches. This needs way more investigation

[2018-10-23 20:27] Nick12506 commented on #19
^ ar2

[2018-10-23 21:23] TheZoc commented on #15
@Melectrome Mind doing a complete check again, on beta 5?

Flashlight and underwater breathing might be broken or mess up with sprint, but lets focus on sprint, first :)

[2018-10-24 02:16] Nick12506 commented on #15
When flashlight is enabled, off by default though you should make it on by default. The flashlight works when aux power is at 0. The flashlight does not drain the battery.

The sprint seems synced to the  bar, with the oxygen meter as well.

You do not die from drowning though the bar shows depletion. So if you're sprinting and go under water it will continuously drain.

[2018-10-24 23:00] TheZoc commented on #15
Fixed in Beta 6

[2018-10-24 23:00] #15 closed, assigned to TheZoc

[2018-10-25 04:15] TheZoc commented on #16
Jeep code is unchanged from Source SDK 2013

[2018-10-25 04:15] #16 closed, assigned to nobody

[2018-10-25 04:16] TheZoc commented on #11
Fixed in Beta 7

[2018-10-25 04:16] #11 closed, assigned to nobody

[2018-10-25 04:26] TheZoc commented on #19
SMG1: Secondary fire is disabled. I think it was disable right before releasing the game, due to the removal of the smoke grenade.
More info here: https://www.youtube.com/watch?v=PYS8q85SOfY

AR2: The code for `CreateCombineBall()` was removed in SF194 (I think it wasn't there since SF192, but I don't have the source code to check)

Do any of these need to be changed?

Please, in the future, creat

[2018-10-27 00:36] Nick12506 commented on #8
The legendary exploit that allowed players to turn off there player model and clip through terrain has been patched in 1.9.6 b7.

I have been unable to replicate this exploit in the latest build.

[2018-10-27 00:37] #8 closed, assigned to TheZoc

[2018-10-29 00:40] Nick12506 commented on #19
Readd SMG1 smoke grenades?

[2018-10-30 06:22] Nick12506 commented on #5
With the map archive placed into the map folder this doesn't happen anymore..

[2018-10-30 07:23] TheZoc commented on #5
It was tough tracking that down, but @Nick12506 helped me to test that.

How bad would it be to keep it as a *known issue* and warn server admins to keep a well written mapcycle.cfg?

[2018-11-01 05:24] TheZoc commented on #19
- Added the cut feature Smoke Grenades from Sourceforts 1.9.4.1 to Scout's SMG1
  - Fixed Scout's SMG1 secondary fire.
  - Added `sf_scout_smoke_grenade` server variable to configure the amount of smoke grenade the scout class spawns. Defaults to 0.
  - By default, players spawn with no grenades. This is a feature easy to abuse and it was added mostly for fun.
  - The smoke grenade behaves differe

[2018-11-01 05:24] #19 closed, assigned to TheZoc

[2018-11-05 22:51] TheZoc commented on #5
This will remain as a known issue: If there's a map in the list that isn't present in the folder, the server will freak out / present this bug.

As long as the map list (inside `mapcycle.txt`) is correct, everything works fine.

[2018-11-05 22:51] #5 closed, assigned to TheZoc

[2018-11-10 13:23] Melectrome opened #20 "Remaining issues in b9"
## Code related:
- [x] https://github.com/TheZoc/sourceforts-bug-tracker/issues/17
- [x] https://github.com/TheZoc/sourceforts-bug-tracker/issues/18 (there is no indication that button is pressed in the class/team pick menu) Marked as finished, but it's not, since sadly it's a nofix.
- [x] Server console prints `User Msg 'Battery': 2 bytes written, expected 3` with every armor heal when healing fr

[2018-11-10 18:24] markboyall commented on #20
ALso encountered the missing armour on the Windows client.

[2018-11-10 18:41] TheZoc commented on #20
@markboyall logs? :)

[2018-11-10 19:02] Melectrome commented on #20
When I was playing with `developer 5` I didn't see any errors in console on windows regarding the armor counter missing from the HUD @TheZoc

[2018-11-10 19:03] Melectrome commented on #20
Could just be a HUD script error, which sounds like an easy fix, I'm not sure though, since older beta builds had the armor counter showing

[2018-11-10 19:13] TheZoc commented on #20
Can you explain (and maybe show a screenshot?) the armor country you're referring to?
I don't remember removing any feature.. Maybe was a regression by mistake?

[2018-11-12 19:53] TheZoc commented on #20
Updated first post to be a list :)

[2018-11-12 19:53] TheZoc commented on #20
Hopefully Battery error messages are fixed on beta 10

[2018-11-12 19:58] TheZoc commented on #20
Added 357 back in. It should *not* be accessible without cheat codes.
I have no idea if it breaks the game or not (try it. Yeah, with cheat codes. If it crashes the game somehow, I"ll remove it again.)

ATT @Nick12506

[2018-11-12 23:10] Melectrome opened #21 "Minor feature requests :)"
Some of these sound hard to implement (and most likely are lol), but if everything gets sorted out with the bugs I'd love to see these things added. No forcing though :)
- viewmodel_fov and r_drawviewmodel changeable by client without sv_cheats 1 (making the commands non-cheat)
- Clan tags in scoreboard with cl_clanid
- Option for server operators to force a specific respawn time
- Old SF theme as

[2018-11-16 06:05] Nick12506 commented on #20
Nice addition, also add weapon_citizensuitcase and swap its model with the 1x1x1 for a secret bonus!

[2018-11-24 21:31] TheZoc opened #22 "Death Notices/Messages missing in the upper/right corder"
The kill feed is missing on the upper/right corner of the screen entirely.

[2018-11-24 21:36] TheZoc opened #23 "New scoreboard to do list"
- [x] Add unassigned team
- [x] Add spectator team
- [x] Test HLTV support (?)
- [x] Add total team score

Current state of the score board, as of beta 10:
- Orange is Unassigned
![image](https://user-images.githubusercontent.com/924927/48973157-1236c880-f020-11e8-8c9a-78dc279e5c8b.png)

[2018-11-24 22:32] j2k3k opened #24 "Permanently decreasing sprint bug"
Happened twice while bhopping.

First time it lasted until the end of combat, through the build phase, and into the combat phase again until I left the server.

Happened a second time after that while I was only bhopping back and forth.

Appears as though sprint is always decreasing, as if you were holding down the sprint button constantly, and I could not untrigger it.

[2018-11-25 01:59] arenaceous commented on #24
I think this was a bug present in 1.9.4x but not very common.

[2018-11-25 23:49] arenaceous opened #25 "Crete Checker Texture"
The crete checker texture does not tile correctly. I have updated the textures 8 years ago, but have attached them here. VTF textures need to be placed in materials/sf/sf_crete

[sf_crete.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2613633/sf_crete.zip)

[2018-11-26 00:25] arenaceous opened #26 "SF Logo Art"
the "²" in the logo was removed for 1.9.3 of SF, however it remains in the art in various places. Is it worth it cleaning up all the art so the ² is removed?

[2018-11-26 00:55] arenaceous opened #27 "Menu Background"
The Menu background says 1.9.4 on it.
In addition, when in widescreen, the background art is stretched.
Ideally, if there is source for the background art, 3 VTFs can be produced, for 4x3 16x9 and 16x10, and then these used when the game in the relevant aspect ratio.

[2018-11-26 01:43] j2k3k commented on #24
Possibly, but it happened to me twice within about 30 minutes. I'll try to recreate it when I get a chance here soon

[2018-11-26 04:16] arenaceous opened #28 "FGD updates"
I've updated the FGD for 1.9.6 few minor changes:
infodecal gets a model rather than a hideous box that blocks the entire view of said decal.
env_block_spawner is updated to be correct with regards to the blocks it spawns
ammocrates health and suit chargers can now be parented.
Icon for game_phase_control
Icon for env_block spawner
@TheZoc Note: use the FGD attached here its more up to date than t

[2018-11-26 04:28] arenaceous opened #29 "Missing Pictures/Icons"
Not sure how to add these by default, but we are missing the grid view and list view pictures in steam. Additionally, the icon visible in the list view is only the small icon, there is no large version of the icon.

[2018-11-26 05:47] TheZoc commented on #28
Updated `sourceforts.fgd` to latest source sdk 2013.

Please, test it! (File attached, if everything is okay, will be included in beta 11)

[sourceforts-fgd.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2614200/sourceforts-fgd.zip)

[2018-11-26 05:50] TheZoc commented on #24
The sprint system from sf194 was completely replaced in sf196 (with the code being very close to hl2dm)

I wonder if what makes it stuck is the phase toggle at the end of the sprint bar...

[2018-11-26 05:51] TheZoc commented on #26
It would be awesome to remove that.

If someone can do the changes and submit the textures, I'd appreciate :)

[2018-11-26 05:52] TheZoc commented on #27
The background probably would need a new texture. The previous one is nowhere to be found (while not stretched, I really like it).

If no one can create an adequate texture, I"m included to use the 1.9.6 that @melectrome created

[2018-11-26 05:54] TheZoc commented on #29
I'm confused.. Can you give more details about this?

[2018-11-26 06:40] j2k3k commented on #24
Just to be clear, you think it is holding down sprint and a phase toggle happening at the same time?
If so, I don't think so. Both times it happened to me, it happened during the middle of the build phase.

[2018-11-26 06:40] ghost commented on #29
- Everything seems good there
![steam_sf_list](https://user-images.githubusercontent.com/45349537/48996893-195bf480-f14e-11e8-800b-f1e01991b0e9.png)

- no big icons
![steam_sf_biglist](https://user-images.githubusercontent.com/45349537/48996899-224cc600-f14e-11e8-8b4a-2c57ae059167.png)

- no large icon
![steam_sf_grid](https://user-images.githubusercontent.com/45349537/48996904-24168980-f14e-11e8-

[2018-11-26 06:49] ghost commented on #24
After further testing it doesn't seems to be the togglephase.
But indeed this bug happend to me too i still don't know what's the deal behind it.

The last time it happend to me was after killing my character by jumping into the void.
I'll do more tests later

[2018-11-26 07:18] Nick12506 commented on #28
Did you patch the original FGD or the community patched copy from 1.9.4.1? @arenaceous

[2018-11-26 07:20] Nick12506 commented on #27
Can we get a copy of that up of Melectromes uploaded to here?

[2018-11-26 08:14] TheZoc commented on #28
Was there a community fixed one? Upload here please...

Both uploaded here were based on original sf194 one

[2018-11-26 09:02] j2k3k commented on #24
Got it.
It is when you are sprinting, and the sprint bar is decreasing (but not gone) and you die. If you do this it just sticks as permanently decreasing.

[2018-11-26 09:42] arenaceous opened #30 "Missing detail.vbsp and lights.rad"
As the title says. These generate sprites for blend maps and lights for textures. They sit in the root of the sourceforts mod folder.

[sourceforts.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2614836/sourceforts.zip)

[2018-11-26 09:47] arenaceous commented on #29
In the first image, the sorceforts logo is only 16x16, it should be 32x32. Missing in the resource folder is a 32x32 sourceforts_big.tga Do we have an icon source?

[2018-11-26 09:48] arenaceous commented on #27
Melectromes background:
[background01.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2614865/background01.zip)

[2018-11-26 10:14] arenaceous commented on #26
First 2 textures for the flags in Crete. Materials go in materials/banner
[banner.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2614971/banner.zip)

[2018-11-26 10:19] arenaceous commented on #26
Delete the current sf194 folder in materials, and replace it with this folder:
[sf194.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2614993/sf194.zip)

[2018-11-26 10:25] arenaceous commented on #26
Copy into the decals folder and replace any files.
[decals.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2615018/decals.zip)

[2018-11-26 10:45] arenaceous commented on #26
VGUI/endgame replace sf_logo.vtf
[sf_logo.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2615098/sf_logo.zip)

[2018-11-26 10:48] arenaceous opened #31 "MOTD Logo"
The MOTD displays the hl2 logo, rather than a SF one. Also some shenanigans in the right hand corner.
![image](https://user-images.githubusercontent.com/11131401/49009501-9aaa9a00-f1d5-11e8-887e-7e5baf4ac351.png)

[2018-11-26 10:51] j2k3k opened #32 "Sprays do not work"
The sound activates but no spray is applied when the button is pressed.

[2018-11-27 04:36] ghost commented on #24
Confirming the bug append when you die while decreasing the sprint bar.
here's an error.log

[jump_aux.log](https://github.com/TheZoc/sourceforts-bug-tracker/files/2618353/jump_aux.log)

[2018-11-27 04:41] ghost commented on #25
- before:
![screenshot-2018-11-27-05_41_11](https://user-images.githubusercontent.com/45349537/49059019-16710a80-f207-11e8-8bd6-b2ebb8b7ed36.png)

- after:
![screenshot-2018-11-27-05_39_50](https://user-images.githubusercontent.com/45349537/49059030-212b9f80-f207-11e8-9af2-c1a50a0eac8e.png)

[2018-11-27 04:44] arenaceous commented on #32
Related to this and to indirectly #26, the sprays included in SF are missing their .vmt files.
in materials/vgui/ delete the current logos folder, and replace with the one attached.
[logos.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2618367/logos.zip)

[2018-11-27 04:55] arenaceous commented on #25
I shuffled the blocks on purpose. The other issue was the seam at the bottom (the trim by the floor). You can see in your screenshots by the doorway. (Albeit a bit small)

[2018-11-27 04:56] ghost opened #33 "beta screenshots shared into a folder"
**`Informations`**
As the title say you can find screenshots made by @TheZoc in sourceforts/screenshots
It's great to get beta screens available, but that's 1.2MB wasted

**`how to do`**
you can check them by going into sourceforts/screenshots

**`screenshots/videos`**
well, there are 3 screenshots indeed

**`version`**
beta 10

**`OS`**
Windows - Linux

[2018-11-27 05:01] ghost opened #34 "Startup video not working"
**`Informations`**
startupvid.avi isn't working at the startup of the game.

**`how to do`**
start the game
it goes directly to the main menu skipping the video

**`screenshots/videos`**
"startupvid.avi" in sourceforts/media

**`version`**
beta 10 and less

**`OS`**
Windows - Linux

[2018-11-27 05:08] j2k3k commented on #34
Per Sunseille's request-

I've been beta testing since 1.9.3 and no one has noticed or at least made it known until now I believe. Meaning, no one has cared since 1.9.2 . Personal opinion also, loading videos are annoying.

The time being used to fix this could be used to fix something else.

[2018-11-27 05:08] arenaceous commented on #26
This fixes some of the odd alpha transparency on the beta logos. Replace files in materials/vgui/sf
[sf.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2618422/sf.zip)

[2018-11-27 05:09] arenaceous commented on #34
That also is what -novid is for

[2018-11-27 05:30] arenaceous commented on #26
Replace the entire crate folder in materials with the one below.
[crate.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2618462/crate.zip)

[2018-11-27 06:55] TheZoc commented on #29
I managed to find an old logo file, and I messed with its colors to try and mimic SF194 icon.
Here is the result, probably far from perfect, but it's close. Gradient colors might be off, but should be simple to adjust.

Do you think you you can create these? (Need someone more talented/trained with art than me for this task)

I can also share the file I found, but it's in a crappy state... Still,

[2018-11-27 07:09] TheZoc commented on #22
Fixed in beta 11
Added a custom font with the skull icon and physics icon

[2018-11-27 07:09] #22 closed, assigned to TheZoc

[2018-11-27 07:14] TheZoc commented on #25
Added to Beta 11!

[2018-11-27 07:14] #25 closed, assigned to TheZoc

[2018-11-27 07:15] TheZoc commented on #33
Nice Catch @Sunseille! Thank you!

(You might need to keep an eye open for these, since I might add them by accident again... I apologize in advance! 😁 )

[2018-11-27 07:15] #33 closed, assigned to nobody

[2018-11-27 07:23] TheZoc commented on #30
Added to Beta 11.

@arenaceous, these files seem to have more stuff in them than the ones I could find in valve vpk's. Do they include fixes, anything I should know about?

[2018-11-27 07:28] TheZoc commented on #32
@arenaceous, There are tons of sprays without corresponding files on `logos/ui`. What's up with these?

[2018-11-27 07:33] TheZoc commented on #26
This one... Images are in a different order.. Also, 1.5x4 looks... odd (non-recognizable, I think?)

I don't recall how this works, but do you think we should have a 1x1x1 image?

[2018-11-27 07:36] TheZoc commented on #26
This one confuses me...
Are we using the old texture with the ² on the logo?

[2018-11-27 07:43] TheZoc commented on #26
`crate_tex_final_none.vtf` is missing.
(It has a different hue to it, even being red)

[2018-11-27 07:45] TheZoc commented on #26
Applied all changes to Beta 11.

sf194 folder concerns me... The textures are different, and 1.5x4 texture is missing.

@arenaceous Can you check this, please? :)

[2018-11-27 07:46] TheZoc commented on #34
If you know how to fix it, I can add a fix for the sake of completeness...
I have searched for a solution for this for a while, but eventually gave up :(

[2018-11-27 07:47] TheZoc commented on #28
If a community fixed one shows up, please, reopen this :)

[2018-11-27 07:47] #28 closed, assigned to TheZoc

[2018-11-27 07:50] arenaceous commented on #30
A few extra things for some textures in the 195/6 Valley, which I havent yet finished off.

[2018-11-27 07:51] arenaceous commented on #32
These point to the textures either in the multiplayer 2013 files or the textures in the folder below. The sprays were a bit weird, this is what worked.

[2018-11-27 07:52] TheZoc commented on #31
Maybe the logo in #29 can be updated to replace that one?

[2018-11-27 07:56] ghost opened #35 "Linux missing textures"
**`Informations`**
Linux build can't read textures ; materials ; models instead the source engine map the level with purple/black and ERROR where it's needed.

**`how to do`**
play some maps on linux build
exemples:
1. purple/black textures = sf_sphinx
2. ERROR model = block spawner in sf_tactical

**`screenshots/videos`**
1. purple/black:
![bp_texturescsf19beta](https://user-images.githubusercont

[2018-11-27 07:57] arenaceous commented on #26
I renamed the textures slightly, so it makes more sense, the vtfs have the correct texture for the crate, the vmts point to the correct texture. This is a holdover from the original sf2 crate having textures in a different order.

With the sf194 folder i made a slight mistake, the vmts point to the sf textures (as they were duplicates however i forgot to update the sf textures) please replace the

[2018-11-27 08:11] ghost commented on #35
can be fixed with a bash script put into the sourcemods folder:
[code]

fixed everything for me
[linux_materials_fix.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2618891/linux_materials_fix.zip)

[2018-11-27 22:32] arenaceous commented on #26
I have updated the resource icons for to be the logo @TheZoc provided. These 3 files belong in sourceforts/resource
[resource.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2622076/resource.zip)

[2018-11-28 01:32] arenaceous commented on #26
Last one to close this bug is the eDIT block spawner model which I'll complete in the next few days.

[2018-11-28 19:54] arenaceous opened #36 "weapon_cubemap missing"
Tested in both buildphase and combat phase
`sv_cheats 1; impuse 81; give weapon_cubemap`
This debug weapon is useful for mappers in testing cubemaps.

[2018-11-28 19:56] arenaceous opened #37 "buildcubemaps crashes the game"
Can't build cubemaps in game, or at least it crashes when it has finished building [cubemaps](https://developer.valvesoftware.com/wiki/Cubemaps).

[2018-11-28 20:19] arenaceous commented on #37
[Possible workaround](https://github.com/ValveSoftware/source-sdk-2013/issues/403)?

[2018-11-29 03:43] TheZoc commented on #26
@arenaceous So, you're willing to move the textures from sf194 folder to the sf folder?

They were kept to allow compatibility with 1x1x1 block.

Also, I'm considering (seems to be easy enough) to add 1x1x1 block support via command console
(sf_allow_cube ? name undecided yet)

What do you think about all of this? :)

[2018-11-29 03:51] TheZoc commented on #26
About resources:
Quality seems better, right? 😁
![image](https://user-images.githubusercontent.com/924927/49197991-4d1a6280-f378-11e8-8bdd-3843c12cc2b4.png)

Do you think anything must be changed? :)

Also, about sourceforts_big.tga file, it looks like this:

![image](https://user-images.githubusercontent.com/924927/49198205-30325f00-f379-11e8-93ba-b5b7e7571d00.png)

It seems there are issues with

[2018-11-29 03:55] TheZoc commented on #30
Okay, I added those files, let me know if I need to update them :)

[2018-11-29 03:55] #30 closed, assigned to nobody

[2018-11-29 03:58] TheZoc commented on #32
Okay, I added the files... I'm closing this, for now :)

[2018-11-29 04:10] arenaceous commented on #26
Theres only so much one can do to make a pixel bend into a circle, especially when the picture is 32x32.

[2018-11-29 04:20] TheZoc commented on #36
I just tried here, and got this:

![image](https://user-images.githubusercontent.com/924927/49199067-3c202000-f37d-11e8-86e1-c193e449d0ba.png)

It seems to be working...

[code]

got this on console
[code]

[2018-11-29 04:33] #36 closed, assigned to nobody

[2018-11-29 04:33] TheZoc commented on #37
Related links:
https://github.com/ValveSoftware/source-sdk-2013/issues/40 - cubemaps not working
https://github.com/ValveSoftware/source-sdk-2013/issues/403 - [HLDMS] Default env_cubemaps

On Valve wiki ( https://developer.valvesoftware.com/wiki/Cubemaps ), we have this comment:

This might help while the map is being created, as a workaround.

[2018-11-29 04:34] arenaceous commented on #36
I still couldnt get this to work without changing the bucket position to 1 in the weapon_cubemap.txt script

[2018-11-29 04:36] TheZoc commented on #37
I removed `Cubemap_CreateDefaultCubemaps()` function call from VBSP. Please, let me know if this works :)

[SourceSDK2013-bin-VBSP-fix-01.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2627601/SourceSDK2013-bin-VBSP-fix-01.zip)

If everything works, it might be easy to add a line parameter for this 😉

[2018-11-29 04:49] arenaceous opened #38 "$Detail"
So with the update to orange box, all custom textures should really use [$detail](https://developer.valvesoftware.com/wiki/$detail). SF textures in game next to stock textures look a bit flat without $detail. Basically the parameters need to be added to every vmt on a per material basis.

[2018-11-29 04:50] arenaceous opened #39 "SLAMs"
When you change class, any SLAMs you have deployed stay deployed.

[2018-11-29 04:51] arenaceous opened #40 "Death sounds when changing team"
When changing team, you die, but you play the death sound of the team you changed to.

[2018-11-29 05:20] L1pE opened #41 "Missing decals in sf_crete"
Or at least that's what I can only imagine is causing this:
![sfdecal1](https://user-images.githubusercontent.com/11803296/49200649-d899f080-f384-11e8-917c-93431b026838.png)
![sfdecal2](https://user-images.githubusercontent.com/11803296/49200651-d899f080-f384-11e8-8f31-4476378a82d4.png)
![sfdecal3](https://user-images.githubusercontent.com/11803296/49200652-d899f080-f384-11e8-943b-a2996f1de9f1.png

[2018-11-29 05:32] TheZoc commented on #41
@arenaceous :)

[2018-11-29 10:29] arenaceous commented on #28
Minor change to make the func_disposer_selective easier to use.

[sourceforts.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2628680/sourceforts.zip)

[2018-11-29 19:52] arenaceous commented on #41
Map in progress.

[2018-11-29 23:07] arenaceous opened #42 "Startup Image"
When starting up SF, it shows a hl2dm picture, not a SF picture. Could just show the menu background while loading.

[2018-11-30 00:14] TheZoc commented on #42
I don't think this is fixable :(

[2018-11-30 05:49] ghost commented on #41
do the same on linux

[2018-11-30 05:52] Nick12506 commented on #25
Would this change effect maps using this texture? If so then you might as well pak this into the map so that other maps are not effected by the change in positioning on the texture.

Include it as a new file in SF so that new maps can use the correct version and using the pak on the old version so that the old ones still fixed.

[2018-11-30 20:51] Denis101 opened #43 "Missing sounds in dedicated server"
No sounds play when grabbing the flag or scoring when playing in a dedicated server.

[2018-11-30 21:01] TheZoc commented on #38
I don't see anything enforcing that, on the link, but apparently it won't be as easy as creating a script to add a "sane" value to them.

You'd need to carefully inspect and add those as necessary (is it? won't it change the overall look/feel of the game?)

It seems a lot of work to be done tbh!

[2018-11-30 21:03] TheZoc commented on #39
If we ignore them what happens?

[2018-11-30 21:22] TheZoc commented on #26
This is the only fix I haven't added, to avoid breaking previous maps. I'm considering reverting the changes to those textures, to keep the cube spawners in place (and enabla-able via console variables).

What do you think?

[2018-11-30 21:22] #26 closed, assigned to TheZoc

[2018-11-30 22:23] arenaceous commented on #38
There's nothing enforcing it, that's true, it just looks a little better. I've started working on it either way.

[2018-11-30 22:25] arenaceous commented on #39
Well I died when I ran into them.

[2018-12-01 01:27] arenaceous commented on #26
That's fair enough, you will also need to modify the VMTs that point to the vtfs.

[2018-12-01 02:04] arenaceous opened #44 "Name"
Name now uses Steam name, you cant make a local in game name.

[2018-12-01 02:33] arenaceous commented on #39
I think ignoring is technically a valid strategy, and this is a non-bug. Just in other games (like tf2) any deployables are removed when you change class.

[2018-12-01 02:38] arenaceous opened #45 "SLAM attachment"
Currently you can partially attach SLAMs to players, using the time when deploying while looking at the ground to quickly look up. These are not fixed to the players and will float. Similarly, you can actually put a SLAM on a deployed flag, and it will place happily, but not be fixed to the flag. In this case when the flag is picked up the SLAM will again float. In both cases, SLAMs I think should

[2018-12-01 04:47] arenaceous opened #46 "General Physics object freezing"
It seems you cant freeze general physics objects, like func_physbox. This used to be the case. It just says you cant freeze that here.

[2018-12-01 05:08] arenaceous commented on #30
I've updated the lights.rad file for a few upcoming textures, and also included them here.
[lights.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2635611/lights.zip)

[2018-12-01 07:22] j2k3k opened #47 "Flag follows player view"
https://vimeo.com/303856454 pw is 196

Took a video because it was too weird to explain. Basically (after dying I believe?), the flag will stay in the players peripheral and will not go away.

This also results in the flag model not being at the spawn. So for example in the video you see the red flag in my corner view. When I went to the red flag area after the flag had 'returned', there was no fl

[2018-12-01 07:58] ghost commented on #43
From what we tried yesterday it was on a ubuntu server `linux`, i'll give it a shot when i can
- linux
- beta10
- any maps

[2018-12-01 09:09] Nick12506 commented on #35
Can you see if sf_tread works for you? Those models are paked inside it's map.

[2018-12-01 09:11] Nick12506 commented on #47
That video is private.

[2018-12-01 09:13] Nick12506 commented on #46
I'd need to make a test map to confirm though wasn't that a glitch originally?

I was able to freeze unfreezable objects by placing them in a nofreeze zone then removing them from such zone in 1941.

It would be great to be able to initially freeze object without needing for them to enter a nofreeze trigger though.

[2018-12-01 09:18] Nick12506 commented on #31
Small chance that texture is a custom font..

[2018-12-01 17:07] j2k3k commented on #47
The pw is 196

[2018-12-02 00:35] Denis101 commented on #44
think this is a feature of source sdk 2013. Have you tried changing your name on steam instead?

[2018-12-02 01:04] arenaceous commented on #44
Thats fine, then name as a command shouldn't exist.

[2018-12-02 01:06] arenaceous commented on #46
sf_sandbox has physics objects. They can freeze in 1941 but not 196.

[2018-12-02 19:28] Nick12506 commented on #44
If we can bring it back, custom names per server are better imo..

[2018-12-02 19:35] ghost commented on #35
sf_tread doesn't work on linux
textures and models are missing

[2018-12-03 01:57] TheZoc commented on #47
Is this a local problem only (i.e. other players can see the flag in the correct position), or the flag position is indeed wrong server-wide?

[2018-12-03 12:54] Melectrome commented on #45
Out of curiosity, is this present in 1.9.4.1 too?

[2018-12-03 12:56] Melectrome commented on #44
Imo it's better to have the same name in-game and in steam. It gets confusing when people use different names for everything.

[2018-12-03 12:57] Melectrome commented on #42
Fixable, I was about to point it out.
For whatever reason, SourceForts has the loading picture for HL2DM included, which is a VERY easy change since its just a picture lel. I'll paste a full path to that image soon, I'm on my phone atm.

[2018-12-03 12:58] Melectrome commented on #43
Could have something to do with the capital letter stuff.

[2018-12-03 12:58] Melectrome commented on #43
Or now that I think of it, Source engine games have files defining sounds to be played in specific events. I'll look into it.

[2018-12-03 13:00] Melectrome commented on #31
The logo from #29 will definitely do more than well. Thanks for posting it. Alternatively we could use the image that Sourceforts facebook uses

[2018-12-03 13:03] Melectrome commented on #34
The video was updated from the combine soldier to a new animation and it hasn't been playing for a long time afaik. It could have to do something with the codec of the video. There's a command that can play videos to test if they're readable by source. I'll look into this.

[2018-12-03 13:03] Melectrome commented on #27
https://fdl.melectro.me/sourceforts/background01.tga :p

[2018-12-03 13:05] Melectrome commented on #21
.

[2018-12-03 13:05] #21 closed, assigned to nobody

[2018-12-03 13:07] Melectrome opened #48 "1.9.6 Feature Request Thread"
I had a few new ideas since I made my old "minor feature requests" issue, and from what I can read in the discord, you guys have a few suggestions too. So I decided to make this thread/issue where we can post suggestions and feature requests for 1.9.6. I'll start.
**DISCLAIMER**: Obviously, these are just requests/suggestions. I don't WANT them to be added otherwise I'll die, I'm just saying that

[2018-12-03 13:11] Melectrome commented on #48
And yes, I do realise some of these are marked as issues already, namely no intro video and others

[2018-12-03 15:13] arenaceous commented on #45
Yes, but I would consider this buggy behaviour.

[2018-12-03 15:14] L1pE opened #49 "Incorrect move speed when respawning after death"
During the combat phase, when you respawn after death, your normal movement speed will be set to 190 HU/s regardless of class. Sprinting once fixes it and sets the correct move speed for the class until next respawn. Changes nothing for Rocketeer whose move speed is already 190 by default.

Version 1.9.6 Beta 11

[2018-12-03 15:17] arenaceous commented on #27
I've updated this, but will include it in a larger texture fix. I removed the version number and included a cropped widescreen version.

[2018-12-03 17:56] TheZoc commented on #44
This is how source sdk 2013 behaves.

RIP Cactus Fantástico

[2018-12-03 17:57] #44 closed, assigned to nobody

[2018-12-03 18:00] TheZoc commented on #46
IIRC, the freezing code exists for prop_physics objects.
I don't recall anything about func_physbox (didn't remember it existing up to now).

What behavior do we actually want?

[2018-12-03 18:05] TheZoc commented on #31
The image on #29 uses a gradient. I was wondering if one half-red and half-blue would be more appropriate for a while, now..

[2018-12-03 18:06] TheZoc commented on #21
If you want me looking into those, I can still look, they're just with a very low priority with this amount of bugs popping up ><

[2018-12-03 18:08] TheZoc commented on #45
There are some fixes on Tony Sergi fork that can change that behavior, but it might change it a lot. I can add them if you think it's worth it.

[2018-12-03 18:29] arenaceous commented on #44
Zoc the issue here then is the name command should be removed

[2018-12-03 18:31] arenaceous commented on #46
Freezing as per standard blocks for both of the physics objects

[2018-12-03 18:32] arenaceous commented on #45
I think those changes might be worth it for the SLAMs

[2018-12-03 18:39] arenaceous commented on #48
Not to make more work, but freezestatus integrated into the game.

[2018-12-03 20:22] TheZoc commented on #44
I did a through search for the `name` console variable, and it's defined in a portion of the code that isn't accessible (i.e. not in the public SDK code). Can't change this behavior 😞

[2018-12-03 20:23] TheZoc commented on #46
Uhh, I feel silly, but mind rephrasing that?
(Seems ambiguous to me, but it's probably just the foreign language barrier)

[2018-12-03 20:25] TheZoc commented on #48
What is "freezestatus"?

[2018-12-03 20:29] arenaceous commented on #46
Make freezing of physics blocks (like prop_physics and func_physbox) behave like standard block freezing in game.

[2018-12-03 20:32] arenaceous commented on #48
Freezestatus is/was a plugin that when activated via the console/keybinding would tell anyone (not just admins) who last froze and unfroze the block you are looking at, their name, steam id, and IP address.

[2018-12-03 21:00] j2k3k commented on #47
Local only

[2018-12-03 21:04] j2k3k commented on #48
Freezestatus should 100% be implemented int 196 and into all new versions of SourceForts.

I also do not believe it should be tied to bans. There used to be servers with that functionality and it almost always resulted in wrongful bans

[2018-12-03 21:07] TheZoc commented on #48
Do you have the source code of that plugin?
(The plugin itself would be helpful, but I doubt it would be compatible at all)

[2018-12-03 21:16] arenaceous commented on #48
https://forums.alliedmods.net/showthread.php?t=64131
It looks like the .sp file is source.

[2018-12-03 21:40] arenaceous opened #50 "Game Rename"
After a little discussion in Discord with Jake and Draken and Acer, we think it might be a good idea if we rename this upcoming beta/release to SourceForts Classic. Additionally the mod folder should change to sfclassic. This would allow side by side testing of the two versions for bug testing, and would also mean that an install of SourceForts Classic would not write over 1.9.4.1 releases. This w

[2018-12-05 03:47] TheZoc commented on #39
Fixed this behavior in Beta 12 - Needs testing.

[2018-12-05 03:47] #39 closed, assigned to nobody

[2018-12-05 04:38] TheZoc commented on #49
This required more changes than I expected to fix - which might impact other parts of the sprint and movement speed systems.
Tests are required!

Hopefully fixed on beta 12, without adding new bugs in its place 😁

[2018-12-05 04:45] TheZoc commented on #40
What about the player model?
Is it consistent with the death sound?

[2018-12-05 04:47] arenaceous commented on #40
The player model is of the team you were on (so correct), the death sound is the team you changed to (incorrect).

[2018-12-05 04:51] TheZoc commented on #43
@Sunseille @Melectrome @Denis101

Can you inspect the file `scripts/game_sounds.txt` and see if everything is correct, for linux?
Or even if the file is found by linux? (well... you know the drill...)

In code, we have:
[code]
(On different areas of the code, ofc)

[2018-12-05 05:16] TheZoc commented on #46
Oh man, this area of the code is a mess... Could be HARD to fix that without rewriting a lot of stuff (which I hope I can avoid).

Some interesting bits:

- Every `CPhysicsPropBlock` starts with `SetFreezeable(true)`
- `func_nofreeze` and `func_flagzone` only toggles `prop_block` and `prop_physics` freeze flag (in a poor, hacky way).
- They do not check if the entities are actually blocks in there

[2018-12-05 05:47] TheZoc commented on #40
With further inspection (using `thirdperson` cheat), apparently, you change model and play enemy team sound when changing teams (and dying, in the process).

This also seem to be the same behavior of HL2DM, I just tried it.

Would it be okay to keep as is?
(It might be a lot of headache to change this behavior)

[2018-12-05 05:48] arenaceous commented on #40
Yea, pretty minor bug

[2018-12-05 05:50] TheZoc commented on #20
@Melectrome Any updates on the stuff you were working? :)

[2018-12-05 05:51] TheZoc commented on #37
This is a Source SDK 2013 issue, I can't fix it.
Using less than 50 env_cubemap entities seems to be the way to go (testing required).

Also, the attached VBSP might help with building cubemaps without the need to mess with [VIDE](https://developer.valvesoftware.com/wiki/VIDE) utility.

[2018-12-05 05:51] #37 closed, assigned to nobody

[2018-12-05 05:52] TheZoc commented on #23
I think everything here is done.

It would be awesome if someone could test HLTV and report how it behaves :)

[2018-12-05 05:52] #23 closed, assigned to TheZoc

[2018-12-05 05:53] TheZoc commented on #17
Fixed with #23

[2018-12-05 05:53] #17 closed, assigned to nobody

[2018-12-05 05:53] TheZoc commented on #24
I changed a lot of sprint code in Beta 12, I'd love if you could report if this was fixed as a side effect :)

[2018-12-05 05:54] TheZoc commented on #27
@arenaceous send file? :)

[2018-12-05 06:09] TheZoc commented on #29
Added in beta 11

[2018-12-05 06:09] #29 closed, assigned to nobody

[2018-12-05 06:09] TheZoc commented on #40
Closing it :)

[2018-12-05 06:09] #40 closed, assigned to nobody

[2018-12-05 06:21] TheZoc commented on #35
Reopening, since this is something that still needs to be done :)

[2018-12-05 06:35] arenaceous commented on #35
Please run this on the folder I provided you, and then when b12 is released, I can work on the textures again.

[2018-12-05 06:38] arenaceous opened #51 "Maps"
Maps should be tested for final release if they are being updated. (This is a place to bug me)

[2018-12-06 05:45] arenaceous opened #52 "Healthpacks"
Healthpacks do not work, these feature in Crete. I would assume shield pickups also do not work.

[2018-12-06 05:48] TheZoc commented on #52
Test again in beta 12 please, there are some changes regarding this

[2018-12-06 07:28] TheZoc commented on #38
Merged all the submitted changes, with exception of Greenhorntrim 24 and 25.

[2018-12-06 08:16] arenaceous commented on #45
You can still mine a flag with SLAMs and then pick it up and the SLAMs will hover. Same goes for a block, you can unfreeze a block and the SLAMs attached to the block will still float.

[2018-12-06 08:20] arenaceous commented on #52
Healthpacks work now, please close. That being said the FGD update #28 is also related to healthpacks.

[2018-12-06 08:24] arenaceous commented on #38
Please stick with the current b11/b12 textures for greenhorntrim 24 and 25.

[2018-12-06 09:03] Sonsari commented on #24
Still happens in Beta 12

[2018-12-06 09:05] arenaceous commented on #28
@TheZoc  Adding Item_healtkits and batteries to the FGD as they were missing. [sourceforts.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2652379/sourceforts.zip)

[2018-12-06 09:09] arenaceous commented on #24
Namely, still decreasing permanently if you die while sprinting.

[2018-12-06 16:09] ghost commented on #24
still happens in b12 indeed

[2018-12-06 21:24] L1pE commented on #49
On beta 12, now the issue is that every class during the combat phase will always move at Scout speed.

[2018-12-07 06:16] TheZoc commented on #24
Fixed in Beta 13

[2018-12-07 06:16] #24 closed, assigned to TheZoc

[2018-12-07 06:16] #52 closed, assigned to nobody

[2018-12-07 06:24] TheZoc commented on #28
Added to Beta 13

[2018-12-07 06:28] TheZoc commented on #47
Do you think you can find the exact steps to replicate it? ><
I couldn't get it to happen on my side yet...

[2018-12-07 06:33] TheZoc commented on #45
There are 3 slam fixes on TonySergi fork:

- https://github.com/tonysergi/source-sdk-2013/commit/383c9235725a901bb719c4e5fd8d479c8db10198 - This was already fixed in SF using a different way.. I changed to this one for code clarity.
- https://github.com/tonysergi/source-sdk-2013/commit/c6576b431aac823dba68d0429d323da5d54b3e68 - This changes how it attaches. I haven't checked the code specifics yet

[2018-12-07 06:33] TheZoc commented on #38
Done! Closing this for now :)

[2018-12-07 06:33] #38 closed, assigned to nobody

[2018-12-07 06:40] arenaceous commented on #45
All of them?

[2018-12-07 07:16] ghost commented on #35
seems ok on the b12

[2018-12-07 07:20] ghost opened #53 "Scrolljump not working"
**`Informations`**
You can't scrolljump on the new source SDK
It's quite primordial since it's used by everyone as higher level

**`how to do`**
bind jump to your mousewheel, then scroll your mousewheel once you take a ramp and you should be able to jump higher

**`version`**
beta 12

**`OS`**
Windows ; Linux

[2018-12-07 07:37] TheZoc commented on #43
Can we get a few systematic tests in these?

- Listen server (host test)
- Listen server (connected client test)
- Dedicated server (connected client test)

Both for windows and linux in each case?

This way it will be easier to isolate the issues.

Sounds to try:
- Flag touch sound
- Flag capture sound
- Match winning sound
(I'm not sure if it's a good idea to test for each team, but it's good to

[2018-12-07 07:38] TheZoc commented on #42
@Melectrome Updates on this? 😃

[2018-12-07 07:39] TheZoc commented on #45
Blindly applying it could be a problem (specially the 2nd one on that list). Could change a lot of their behavior.

Also, the 3rd fix could be a strong counter to it to the point it gets to be useless. Do we want that?

(Please, someone try taking a look at the code!)

[2018-12-07 07:45] TheZoc commented on #53
Unless someone can find a patch to apply to the code that re-enables it, we won't have this bug/feature in the game :(

I don't know how it worked in the previous SDK and, sadly, we don't even know if this is in an area of the code that's accessible to us.

On the other hand, if someone finds a fix to re-enable this, please, reopen this issue 😁

[2018-12-07 07:45] #53 closed, assigned to nobody

[2018-12-07 07:46] TheZoc commented on #35
I'll run this later on - for now, I want to avoid introducing any new hard-to-track bug
(We never know, right? ☹️ )

[2018-12-08 00:40] TheZoc commented on #45
Added those patches to Beta 14 :)

[2018-12-08 00:41] #45 closed, assigned to nobody

[2018-12-08 01:23] L1pE commented on #49
Issue persists in yet another form on beta 13. On the first spawn after the build phase ends, you will be set to 190 HU/s move speed regardless of class, respawning after death sets the correct move speed, but only up until the first time you sprint, after which your move speed will be set to 190 HU/s until death.

[2018-12-08 06:24] TheZoc commented on #42
Fixed on b13 :)

[2018-12-08 06:24] #42 closed, assigned to nobody

[2018-12-08 06:38] TheZoc commented on #35
Added this to beta 14.

[2018-12-08 06:38] #35 closed, assigned to TheZoc

[2018-12-08 06:41] TheZoc commented on #35
@Sunseille I worry that the content in vmt files still points to upper case files, wonder if this would break the mod in later builds of the sdk (if they ever get updated).

Would it be a good idea to write a script to fix those aswell?

[2018-12-08 06:42] TheZoc commented on #46
I added the ability to freeze `func_physbox` in beta 14 without needing to rely on `func_nofreeze`.

Not sure if this is ideal, but shouldn't break anything on the regular maps :)

[2018-12-08 06:42] #46 closed, assigned to nobody

[2018-12-08 06:43] TheZoc commented on #27
Added the new, versionless background, provided in another issue (can't find the exact number now)

[2018-12-08 06:43] #27 closed, assigned to TheZoc

[2018-12-08 07:47] TheZoc commented on #31
Fixed it on beta 14!

![image](https://user-images.githubusercontent.com/924927/49683289-417e1880-faa9-11e8-82b8-75a9f5565a21.png)

Sadly, the square on the top/right corner doesn't seem to be fixable. It it a symbol font ("r" letter, on the font Marlett, included in the source sdk 2013), but I couldn't find a way to display it ☹️

[2018-12-08 07:47] #31 closed, assigned to nobody

[2018-12-08 08:36] TheZoc commented on #49
This one is a dodgy one!

Can you give the exact steps to reproduce reproduce the current behavior? I'm having trouble to reproduce it locally :(

Please, try it on the beta 14 and let me know :)

[2018-12-08 16:50] L1pE commented on #49
I create a listen server (possibly different behavior on dedicated? Hadn't considered that), have cl_showpos 1 set, and then just put a high host_timescale value until build phase ends (I don't know a better way to skip it), then put it to 1 again, move around and check the speed values, kill myself with a grenade or some other explosive, respawn and move some more. I'd test after multiple game re

[2018-12-08 17:07] L1pE commented on #49
Well, tested now on beta 14 on both Windows and Linux, turns out it really is a Linux-only issue, speeds are set properly on Windows. On beta 14 in Linux the behavior is the same as beta 13.

[2018-12-08 18:33] Melectrome commented on #34
Converted the video to Bink which most source engine games use.
I recommend to also change the name of StartupVids.txt to be lowercase like I did in the zip, just in case linux fails on reading it or sth :p
Oh, and since we now have a better and working .bik version, we should remove the .avi
[media.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2659944/media.zip)

[2018-12-08 20:46] Melectrome commented on #34
As it turns out, due to licensing issues, we cannot use a startup video for legal reasons, unless we pay an insane price for such a small thing... Bullshit if you ask me, but whatever. This issue needs to be closed sadly.

[2018-12-08 20:46] Melectrome commented on #18
nofix

[2018-12-08 21:22] #34 closed, assigned to nobody

[2018-12-08 21:23] TheZoc commented on #20
List completed! 😁

[2018-12-08 21:23] #20 closed, assigned to TheZoc

[2018-12-08 21:53] Melectrome commented on #43
I tested this with @TheZoc on b13, we were both windows, server was linux.
All sounds played perfectly fine...

[2018-12-08 22:02] TheZoc commented on #43
@Sunseille @Denis101 Can you guys try this?

And, please, try out of the "docker" servers too, just in case something is wrong in there :)

(@Melectrome server seems to be working fine, would be nice to try in there)

[2018-12-08 22:43] TheZoc commented on #18
Apparently, this isn't trivial to fix and it's a cosmetic bug, so, I'm closing this one 😞

[2018-12-08 22:43] #18 closed, assigned to nobody

[2018-12-08 23:10] TheZoc commented on #49
Fixed on beta 15!

[2018-12-08 23:10] #49 closed, assigned to TheZoc

[2018-12-08 23:55] j2k3k commented on #47
Sorry, I've been super busy. Next time we play I'll try to get it nailed down

[2018-12-08 23:56] Melectrome commented on #34
Turns out I'm retarded. We can use Bink.

[2018-12-08 23:57] Melectrome commented on #32
this needs to be reopened

[2018-12-09 00:37] TheZoc commented on #32
As explained by @L1pE, this is a bug on Source SDK 2013.
You need to set it on options (or through `cl_logofile` convar) before joining a game to work.
You can add this to `autoexec.cfg`, so it is set everytime the game starts, as a workaround.

Also, this bug isn't fixable, since we don't have access to the area of the code that declares cl_logofile

[2018-12-09 00:37] #32 closed, assigned to TheZoc

[2018-12-09 01:56] Melectrome commented on #53
It's intended. Scrolljumps were patched in newer sdk's. It was a physics and prediction bug in old source engine versions.

[2018-12-11 00:03] Nick12506 opened #54 "Restrict "Impulse 51""
Super old hack for hl2dm that still works after a decade that lets you spawn in ammo/HP/armor/ect randomly.

To replicate, bind t "impulse 51"
then spam

[2018-12-11 00:29] damienn opened #55 "Pistol animations broken"
From first person, single pistol shots have a 'hiccup,' reload animation does not play.  Looks fine from 3rd person/watching someone else.

[2018-12-11 00:29] damienn opened #56 "Borderless window mode does not work"
Not visible in display options
Does not work with the launch options -w -noborder

[2018-12-11 00:32] Nick12506 commented on #50
He mentioned it might be impossible, if so just rename that old folder so that old installations are not deleted like last time.

[2018-12-11 00:35] damienn commented on #55
Upon further testing, this did not happen on my own listen server, but did occur on Acer's

[2018-12-11 00:37] j2k3k commented on #55
https://vimeo.com/305615892
Video. Pw - 196

[2018-12-11 00:40] arenaceous commented on #50
I dont get why this is impossible as I can safely rename the folder and run SF with out problems.

[2018-12-11 00:43] damienn commented on #55
Here is a clip of the serverlog

SourceForts V1.9.6 Beta
Map: sf_skywalk
Players: 2 / 12
Build: 4630212
Server Number: 87

Error loading cfg/trusted_keys_base.txt
The server is using sv_pure 0.  (Enforcing consistency for select files only)
Voice_Init: Using Steam voice optimal sample rate 24000
Press N to select a team / class
You are on team Unassigned - press N to select
Compact freed 425984 by

[2018-12-11 00:52] damienn opened #57 "nades turn purple after another team steals it"
https://media.discordapp.net/attachments/504401652221214741/521851576717934592/sf_skywalk0002.jpg?width=835&height=470

After a nade is picked up by an opposing engineer it no longer swaps colors but merges the two into a rather nice shade of purple, making it impossible to tell if it is friendly or not.

[2018-12-11 01:47] Nick12506 commented on #57
I like this, I think it's a good feature because nades have friendly fire enabled and as long as everyone can die when it's purple it's okay.

I'd keep it as is imo

[2018-12-11 03:05] Nick12506 opened #58 "Wrong block count on join"
I joined Jake^ on B16 on Melectrome server via the right click on Jakes^ name and joining via the friend method.

I get on, saw we had 8/50. I went to spawn another block and I couldn't.

I throw one already spawned into a destroyer and then it went to the correct 49/50.

Rejoining showed the correct 49/50.

Not critical IMO though documenting it here.

[2018-12-11 03:37] TheZoc commented on #54
Fixed, beta 17

[2018-12-11 03:37] #54 closed, assigned to nobody

[2018-12-11 03:39] TheZoc commented on #55
Apparently those warnings are from hl2dm

https://steamcommunity.com/groups/WeAreUnitedGamers/discussions/0/846955554775707800/

I'm not sure why they happen. The "fix" in there just filters the messages, it's not a real fix.

[2018-12-11 03:41] TheZoc commented on #55
More info on this, apparently happens in every source game, including portal 2:

https://github.com/ValveSoftware/Source-1-Games/issues/1886

[2018-12-11 03:43] TheZoc commented on #56
I don't think this is a feature from SourceSDK 2013. Can you confirm it is?

[2018-12-11 04:21] damienn commented on #55
Weird, maybe the dedicated server that is up is outdated or bugged?  Not sure who's it is

[2018-12-11 04:23] damienn commented on #56
It should be from 2007+  But I cannot seem to find much info on it.  It was an option available since the orangebox update, some other mods had the option when they were still around,  Probably not a huge deal but could be tacked onto the nice-to-have list.

[2018-12-11 04:35] TheZoc commented on #57
Fixed on Beta 17

[2018-12-11 04:35] #57 closed, assigned to nobody

[2018-12-11 06:07] TheZoc commented on #55
The animations themselves could be a failure in the prediction, "lag prevention" algorithm.. I think it fails for anything above 100ms

[2018-12-11 07:19] Melectrome commented on #56
It's toggled by typing -sw -noborder into launch options. It works for me 🤔

[2018-12-12 01:18] damienn commented on #56
hmm i was using -w, ill try -sw next time

[2018-12-12 04:21] #56 closed, assigned to nobody

[2018-12-12 04:21] TheZoc commented on #58
I'd need to know a way to reproduce this, to fix it :(

[2018-12-12 04:22] TheZoc commented on #43
No more complaints, I'll close this issue.
It seems to be fixed.

[2018-12-12 04:22] #43 closed, assigned to nobody

[2018-12-12 05:12] damienn commented on #56
can confirm -sw -noborder works

[2018-12-12 05:17] damienn commented on #51
missing texture on abandon under both flag platforms
![image](https://user-images.githubusercontent.com/2971699/49848481-3bd34c00-fda3-11e8-9acd-788fb86535ce.png)

[2018-12-12 05:35] damienn commented on #51
northern lights in new astrodome

![image](https://user-images.githubusercontent.com/2971699/49849017-cae16380-fda5-11e8-89cb-0c7c41d01dfa.png)

[2018-12-12 05:53] arenaceous commented on #51
Aurora Borealis? At this time of year? At this time of day? In this part of the country? Localized entirely above the flag in astrodome?

(its the reflection of the lit flag area below)

[2018-12-12 09:57] arenaceous commented on #51
Maps fixed but need to recompile for the next release:
Prop shadows: Conduit, Valley
Missing textures: Abandon
Texture swap so less bright: Skywalk
func_clip_vphysics fail: Overload

[2018-12-12 09:58] arenaceous commented on #41
This should be closed as it is fixed in the b17 release of maps.

[2018-12-12 11:51] Melectrome commented on #50
@arenaceous But when you try to join a normal server, you can't play simply because the server has a different mod folder (for example you may have the folder named to /sourceforts196/ but the server has /sourceforts/)

EDIT: Yeah now that I think of it it's a simple change, just change the folder name in the client installer in the final product and ask server operators to use the same name for t

[2018-12-12 18:46] Melectrome commented on #56
@damienn
`-w` is the command for window width, just like `-h` is for window height. That explains a lot!
`-sw` means "Start Windowed" I believe.

[2018-12-12 19:12] Melectrome commented on #55
I was unable to reproduce this bug in Beta 17, Beta 16 or even Beta 15... Anyone else??

[2018-12-12 19:38] Melectrome opened #59 "(Maybe more than) A few things"
- [ ] When the auto weapon switch is off, the weapons are not colored to the team's color in the HUD, instead they are defaut yellow.
![image](https://user-images.githubusercontent.com/35193841/49943781-1c463b80-fee9-11e8-8c99-f66f519307e8.png)
- [ ] A few strings are missing from the translation files (For example: "You will respawn as X"), and some strings don't change even if you change them in

[2018-12-12 23:51] Nick12506 commented on #59
At least we can have a everyone play a different beta match :/

[2018-12-13 13:15] Melectrome opened #60 "sf_overload has visible triggers, only for the Blue team spawn."
Beta 17
https://cdn.discordapp.com/attachments/504401652221214741/522726283927486484/unknown.png
https://cdn.discordapp.com/attachments/504401652221214741/522725763510829066/unknown.png

[2018-12-13 14:10] Melectrome commented on #60
closing and adding to a different issue to prevent clutter.

[2018-12-13 14:10] #60 closed, assigned to nobody

[2018-12-13 14:12] Melectrome commented on #55
I was able to reproduce this at last.
It only happens when you switch to thirdperson and back to first person, and it's temporary, since when you die everything is back to normal.

[2018-12-13 14:21] Melectrome commented on #48
Updated the issue with some more suggestions :p

[2018-12-13 14:27] Melectrome commented on #58
I was able to reproduce this. Here are the instructions:

1. Max out the block limit to be 50/50, then disconnect and quit the game.
2. Start sourceforts again and join the same server.

You'll notice that the blocklimit says 0/0.
If you just disconnect, do something locally and reconnect to that same server, the bug will occur as well, but there won't be 0/0 but X/50, where X is the blocks you ha

[2018-12-13 18:58] Melectrome commented on #51
![image](https://cdn.discordapp.com/attachments/504401652221214741/522726283927486484/unknown.png)
![image](https://cdn.discordapp.com/attachments/504401652221214741/522725763510829066/unknown.png)

sf_overload in latest beta (17)

[2018-12-13 19:04] arenaceous commented on #51
How did that get through 😑

[2018-12-13 20:40] TheZoc commented on #59
[code]

ATT @arenaceous

[2018-12-13 20:40] TheZoc commented on #59
[code]

I couldn't find a single example of string localization on server side. I'm not willing to experiment with this for the amount of time that will take (we gotta release!). If you have a working solution, let me know and I'll add it.

[2018-12-13 20:44] TheZoc commented on #58
Nice catch!
Should be fixed in beta 18 :)

[2018-12-13 20:44] #58 closed, assigned to nobody

[2018-12-13 20:48] TheZoc commented on #48
Added freeze status
Should behave differently from the linked plugin, need tests :)

[2018-12-13 20:49] TheZoc commented on #55
I guess this is not fixable, then...
(Or at least, it isn't worth investigating)

Thanks for finding out the cause! :)

[2018-12-13 20:49] #55 closed, assigned to nobody

[2018-12-13 20:50] #41 closed, assigned to nobody

[2018-12-13 20:50] TheZoc commented on #47
Updates? :)

[2018-12-13 20:52] TheZoc commented on #50
once upon a time (SF193-194 betas), we had real issues with renaming them.. I remember e wanted a beta folder to be able to test it side by side with the regular installation... Yet, it causes a few untraceable bugs to appear, which disappeared when we renamed back.

I don't recall what bugs appeared.

I plan to rename this for release candidate or something like that :)

[2018-12-14 01:32] Sonsari opened #61 "Healing allies with grav gun"
In 1941 and previous versions you could hold left click on allies with the gravity gun to restore hp/shield.

[2018-12-14 05:25] TheZoc commented on #61
Is this supposed to happen, or was it a weird/bug feature?

[2018-12-14 05:25] Sonsari opened #62 "Rejoining team after spectator"
You don't spawn after rejoining a team after spectating.
-Join a team
-Join spectator
-Join a team

[2018-12-14 05:27] Sonsari commented on #61
It was a feature of the game, just doesn't work in 196, sorry should have specified

[2018-12-14 06:51] Melectrome commented on #62
Maybe a bit more elaborate:
- Join a team and spawn
- Without doing anything else, open the classteam menu and change to spec
- Try to join back to any team.
After that you are only able to respawn if the phase changes

[2018-12-14 06:52] Melectrome commented on #61
Can confirm, it was a feature
_and was used hella lot when health chargers were broke_

[2018-12-14 11:11] Melectrome commented on #62
_
] developer 5
Counting player="huck dunt" m_iClass=2, m_iNewClass=2, team=2
About to check class limits.
fMaxClassPercentage=75.000000,fCurClassPercentage=0.000000
iClassMembers=1, team->GetNumPlayers()=0, (team != GetTeam())=1
Entering: void CHL2MP_Player::SetPlayerTeamModel( void )
Here: e:\development\github\sourceforts\mp\src\game\server\hl2mp\hl2mp_player.cpp 640
Leaving: void CHL2MP_Player

[2018-12-14 11:14] Melectrome commented on #51
Missing stuff on Astrodome (B18)
![image](https://user-images.githubusercontent.com/35193841/50000402-ced5d700-ff99-11e8-9cd7-01c357f304fe.png)

[2018-12-14 12:20] Melectrome opened #63 "SLAM fuckery"
You can still attatch slams to players
You can attatch slams to slams being held by a player
you can attatch slams to unfrozen blocks which makes the block immovable (it can freeze mid air until the slam explodes)

[2018-12-14 17:42] TheZoc commented on #63
Oh boy...

So, I need you guys to choose between the current behavior and previous behavior.

Previous seems better imo, but I'd like to hear your opinion.

[2018-12-14 20:28] arenaceous commented on #63
If you attach slams to people or the slams they are holding do they explode rather than float? If so then I think this is better behavior.

[2018-12-14 21:50] arenaceous commented on #63
![image](https://user-images.githubusercontent.com/11131401/50029273-1cfce000-0057-11e9-8155-5dbf5fec4899.png)
Slam laser got orphaned when it blew up.
how I triggered it was to put a laser slam on a laser slam on an unfrozen block and then moved the block.

[2018-12-14 22:03] arenaceous commented on #63
if you place a slam on a slam the second laser is not pointed the right way.
![sf_astrodome0000](https://user-images.githubusercontent.com/11131401/50029789-dad49e00-0058-11e9-9e33-ab10a3f892b9.jpg)
the slam which i am currently in the beam of, is actually triggered to the left of my position (normal to the laser face of the slam as you would expect)

[2018-12-15 13:49] Melectrome commented on #63
The old behaviour is better imo. It's closer to the HL2DM behavior, it's more consistent and less buggy.
I think it's best if we bring back the old SLAM behavior.

[2018-12-15 16:27] TheZoc commented on #63
It's possible to keep destructive SLAMs and just change the attaching code, if we roll back.

One of the issues with the new code is that it changes the collision code from VPHYSICS to BBOX, that's probably what causes a few os these issues, but it isn't easy to change back.

[2018-12-16 05:41] TheZoc commented on #62
Fixed on Beta 20

[2018-12-16 05:41] #62 closed, assigned to nobody

[2018-12-16 06:12] TheZoc commented on #61
Added this bug as a feature to Beta 20

[2018-12-16 06:12] #61 closed, assigned to nobody

[2018-12-16 07:28] TheZoc commented on #59
Having all of these in a single topic is hard for me to track ><

Anyway, please, move "Freezestatus is buggy with unfrozen blocks" to a different issue and detail it, with images if possible :)

[2018-12-16 07:31] TheZoc commented on #50
Changed folder to `sfclassic/`
Changed name to `SourceForts Classic 1.0`

Did I miss anything? :)

[2018-12-16 07:31] #50 closed, assigned to nobody

[2018-12-16 07:34] TheZoc commented on #47
Hopefully this isn't a big issue, really just a cosmetic one...
I can't find a way to reproduce it, so I'm closing it for now.

[2018-12-16 07:34] #47 closed, assigned to nobody

[2018-12-16 07:35] TheZoc commented on #48
I don't think this is viable for a mod, is it?
`Have things packed in VPK's so that we can implement sv_pure for servers`

[2018-12-16 07:35] TheZoc commented on #48
I have no idea what this means:
`CVAR to change teammate/global player collisions`

[2018-12-16 07:37] TheZoc commented on #48
Regarding this:
`More "Create Server" options in the GUI (e.g. Blocklimit, Flashlight, Force Respawning)`

Please, edit `cfg/settings_default.scr` (with a text editor) to add the features.
All the possible variables are in `VARIABLES.txt` file (which is markdown file, you can rename it to .md if you have a markdown editor, for better viewing)

Also, please note that some variables are obscure (and

[2018-12-16 07:38] TheZoc commented on #48
`Clan tags in scoreboard with cl_clanid` I wish to add this, probably won't have time...

[2018-12-16 07:49] TheZoc commented on #59
``Server console spammed DataTable warning: player: Out-of-range value (166.109039/100.000000) in SendPro pFloat 'm_flSuitPower', clamping.``

This was not supposed to happen at all o.O
This piece of code prevents it from going above 100.0:

[code]

Do you mind trying to find out what exactly triggers this?
Is it at all related with the flashlight? (I mean, if this issues pops before flashlight, d

[2018-12-16 07:51] TheZoc commented on #59
[code]

Can't do much there :/

[2018-12-16 07:51] TheZoc commented on #59
And, please... Split the issues! It's horrid to track them like this :(

[2018-12-16 07:57] TheZoc opened #64 "Flag Carrier missing on the scoreboard"
Add missing flag icon to the scoreboard

[2018-12-16 10:37] Melectrome commented on #59
Will do, but on monday, since I'm ultra busy today.

[2018-12-16 10:38] Melectrome commented on #63
Pls lets roll back to the old behavior then, I don't mind flying SLAMS since its the only real issue with the old behavior.

[2018-12-16 10:45] Melectrome commented on #48
Yeah, the cl_clanid stuff was far fetched and it was kind of a last minute idea I got from playing Counter-Strike too much.
Would be nice to see it though, especially since SourceForts was all about clans back in the day, but I know that implementing this would take a long time and might even conflict with the current scoreboard layout...

Will do the create server stuff on monday :)

By default t

[2018-12-16 21:46] TheZoc commented on #48
More info regarding pure servers
https://developer.valvesoftware.com/wiki/Pure_Servers

And how to create VPKs
https://developer.valvesoftware.com/wiki/VPK

This would be the very last addition to the mod, if it will happen.

[2018-12-17 00:50] TheZoc commented on #63
@Melectrome What do you think about shooting the slams?

I can revert the SLAM patch, but keep them "damageable", so people can destroy them by shooting

[2018-12-17 01:05] TheZoc commented on #64
Added to B20

[2018-12-17 01:05] #64 closed, assigned to nobody

[2018-12-17 01:07] TheZoc opened #65 "Add sv_pure support"
Moving this to a separate issue

- Have things packed in VPK's so that we can implement sv_pure for servers

More info regarding pure servers
https://developer.valvesoftware.com/wiki/Pure_Servers

And how to create VPKs
https://developer.valvesoftware.com/wiki/VPK

Seems doable

[2018-12-17 01:10] TheZoc commented on #48
Moved this to #65

`Have things packed in VPK's so that we can implement sv_pure for servers`

[2018-12-17 04:35] TheZoc commented on #63
- Reverted SLAM attaching behavior
- SLAMs can still be killed by enemies

Added to Beta 20

[2018-12-17 04:35] #63 closed, assigned to nobody

[2018-12-17 16:14] Melectrome commented on #29
Bump, what about the banner stuff mentioned in @Sunseille's comment? I couldn't find the files for that in other games, but there must be a way to set them, right?

[2018-12-17 17:18] TheZoc commented on #29
I haven't found a way :(

[2018-12-18 18:48] Melectrome opened #66 "Weapons not colored correctly"
When the auto weapon switch is off, the weapons are not colored to the team's color in the HUD, instead they are defaut yellow.
![image](https://user-images.githubusercontent.com/35193841/49943781-1c463b80-fee9-11e8-8c99-f66f519307e8.png)

[2018-12-18 18:49] Melectrome opened #67 "(Misc) Translation file stuff"
A few strings are missing from the translation files (For example: "You will respawn as X"), and some strings don't change even if you change them in translation files (e.g. "Object_Frozen" and "Object_Unfrozen")

[2018-12-18 18:50] Melectrome opened #68 "(Misc) Spawn block button behavior thingy"
On some maps (like sf_sphinx) you can left click on a block button and it will spawn the block anyways

[2018-12-18 18:50] Melectrome opened #69 "Camera jitter on stairs"
Going up on clipped stairs sometimes makes your camera jitter (most visible on the side stairs on sf_basin)

[2018-12-18 18:50] Melectrome opened #70 "The dreaded server console spam: `m_flSuitPower` overflow (Could lead to sprint exploits)"
Server console spammed `DataTable warning: player: Out-of-range value (166.109039/100.000000) in SendPro
pFloat 'm_flSuitPower', clamping.
` for unexplained reasons when I was playtesting with wind^

[2018-12-18 18:51] Melectrome commented on #59
Split all issues.

[2018-12-18 18:51] #59 closed, assigned to nobody

[2018-12-18 18:52] Melectrome opened #71 "Freezestatus wonky with unfrozen blocks"
Freezestatus is a bit weird with unfrozen blocks.
Everything works fine, but:
When you unfreeze a block, and an enemy picks it up to change the color to theirs you will still see the freezestatus unless you move away a bit and come back or you turn away and turn back to the block.

[2018-12-18 23:57] TheZoc commented on #67
Not happening, sadly.
All the server printed stuff can't be translated easily.

(If someone knows a way, tell me and I'll surely add it in :) )

[2018-12-18 23:58] TheZoc commented on #71
So, you will keep seeing its status, until you lose the block as a target and re-target it?

Seems acceptable enough for me.. Any reason that's important to change this behavior?

[2018-12-18 23:59] TheZoc commented on #69
Clipped, you mean, those with the "no clip" areas?

[2018-12-19 03:28] arenaceous commented on #69
Clipped with playerclip so the stairs should act as a ramp and not jitter.

[2018-12-19 03:29] arenaceous commented on #68
This is not a bug. It's a setting on the button damage activates. It's not necessarily set on buttons in various maps.

[2018-12-19 03:33] arenaceous commented on #51
Upcoming for rc1: deck and depth.

[2018-12-19 09:23] Melectrome commented on #69
^
Thing is, it's smooth, but your camera kind of flies around.
Oh, and when I turned off cl_predict it stopped.
So it could most likely be a prediction issue....

[2018-12-19 09:23] Melectrome commented on #68
Alrighty, closing.

[2018-12-19 09:23] #68 closed, assigned to nobody

[2018-12-19 09:24] Melectrome commented on #67
Rip. Maybe 1.9.6.1. Closing.

[2018-12-19 09:24] #67 closed, assigned to nobody

[2018-12-19 09:38] Nick12506 opened #72 "Prop_physics on initial spawn can not be frozen (fixed)"
I can provide a example though title says it all.

[2018-12-19 23:08] Melectrome opened #73 "Custom folder and readme.txt"
Since we're using sv_pure now and mods need to be in the /custom/ folder in the mod dir, we have to add the folder in installers and add a readme.txt similar to tf2's readme.txt (linked below) explaining the new mod system.

[tf2's readme.txt from /tf/custom](https://github.com/TheZoc/sourceforts-bug-tracker/files/2696804/readme.txt)

[2018-12-19 23:28] Nick12506 commented on #72
Workaround is spawning the prop_physics in nofreeze zones, in most cases, the flag D would work.

[2018-12-19 23:51] Nick12506 commented on #73
Here's a version modified to fit SF.

[ReadMe.txt](https://github.com/TheZoc/sourceforts-bug-tracker/files/2696900/ReadMe.txt)

Add modifications and upload if you see something wrong with this adaptation to SF.

[2018-12-20 02:01] Nick12506 opened #74 "Missing line of code in gameinfo.txt relating to /custom/"
I couldn't get hammer to recongize my custom models/materials in hammer and with discord saw that

Line 57* of GameInfo should be

            game+mod            |gameinfo_path|custom/*

Example below in gameinfo.txt of how it is in mine that caused the /custom/ to be picked up by hammer.

			game+mod			|gameinfo_path|vpk/sfclassic_materials.vpk
			game+mod			|gameinfo_path|vpk/sfclassic_models.v

[2018-12-20 08:19] Nick12506 commented on #72
Uh.. You can instantly unfreeze prop_physics props...

[2018-12-20 08:22] Nick12506 opened #75 "Initial spawn default class 0/null."
This has and can causing players to spawn with 1hp, a pistol, and a grenade.guys

This was a side effect of the jointeam exploit before btw,

@Kakujitsu experienced it this time,

I think a fix would be changning the default class so that if people refuse to pick one they'd be a scout..

@Zoc also toggleteampanel shows up twice in command list

[2018-12-20 22:13] Nick12506 opened #76 "Noteable VPK changes."
Okay, so /custom/ allows for new models/materials, if it does not overwrite .vpks related files.

This removes the ability for people to use custom props, crates, and anything included in the .vpks client side.

The only workaround that allows you to overwrite protected .vpk files is by pak'ing them inside the map. If the map has altered files, they will take precedence.

I assume not being able t

[2018-12-20 23:50] Nick12506 commented on #76
Closing cause we talked about it on discord.

[2018-12-20 23:50] #76 closed, assigned to nobody

[2018-12-21 03:30] damienn opened #77 "enemy dispenser noise bug"
When holding use on a hp/armor dispenser on the enemy team, the error/cant use sound is repeated rapidly until someone lets go of the use button, rather than playing once and stopping.

[2018-12-21 03:31] TheZoc commented on #72
This bug report is unintelligible.

Need detailed description of what's going on and how to reproduce on regular games.

[2018-12-21 03:33] TheZoc commented on #73
I can't understand if sv_pure is even working right now. Test and report, please.

Also, do gameinfo.txt need any change?

[2018-12-21 03:34] TheZoc commented on #74
Are the game assets done in the "first found, first serve" order?

if so, would this make sense?

[code]

[2018-12-21 03:35] TheZoc commented on #74
I think #73 is related to this

[2018-12-21 03:36] TheZoc commented on #75
This is a fine example of a sloppy bug report.

@Nick12506 Please, clean it up. Also, just leave a single issue per topic

Sadly, I have no idea how to reproduce it, thus, I can't attempt to fix.

[2018-12-21 03:52] Nick12506 commented on #74
I have not thought of this. I'll verify tonight.

[2018-12-21 03:56] TheZoc commented on #77
Fixed on... Uhh... RC2? Public RC1?
Version still undefined, but it's fixed now :)

[2018-12-21 03:57] #77 closed, assigned to nobody

[2018-12-21 03:59] Nick12506 commented on #72
Okay, so the map includes a model being spawned in using prop_physics, the one inside the trigger zone was spawned in a nofreeze trigger.

The one outside the zone can not be frozen until it enters and exits the zone.

The one inside the zone can be frozen once removed from the zone. Both are being spawned in with prop_physics.

[sf_bugforzoc_propphysics.zip](https://github.com/TheZoc/sourceforts-

[2018-12-21 04:10] TheZoc commented on #72
Added the ability to freeze prop_physics to next release

[2018-12-21 04:20] Sonsari commented on #75
After joining a server before selecting a class cancel out of the team/class select and jointeam 2 or 3

[2018-12-21 04:32] TheZoc commented on #75
Fixed on next build

[2018-12-21 04:32] #75 closed, assigned to nobody

[2018-12-21 04:33] TheZoc commented on #65
Added this in RC1. Need tests, but I"m closing this for now.

[2018-12-21 04:33] #65 closed, assigned to nobody

[2018-12-21 05:09] TheZoc commented on #66
Fixed on next build

[2018-12-21 05:09] #66 closed, assigned to nobody

[2018-12-21 06:48] Nick12506 commented on #74
Yes, your edit fixed this issue.

Keep #73 open, I'm unsure of that one right now.

[2018-12-21 06:49] Nick12506 opened #78 "Unassigned classes can use block spawners."
For example:

If you start a server with the provide map "buttontest", click okay on the motd, then click cancel on the team/class menu. You are able to then turn the view around to face the block spawners.

When you press E in this state, you are able to spawn blocks.

The chat log says "You are on team Unassigned - press N to select"

I assume it's a issue with the team Unassigned..

[buttontest

[2018-12-21 09:28] arenaceous opened #79 "Dropping flag off the edge reset"
If I recall correctly, there was a timer added in 193 so when the flag was dropped off the edge it took a while to return to the team it was taken from (to prevent stealing the flag and dropping it off the edge to get flag touches). In sfc RC1 the flag instantly respawns when dropped off the edge, however it takes some time for the flag returned announcement to play. I suggest re-instating the fla

[2018-12-21 20:58] #74 closed, assigned to nobody

[2018-12-21 20:58] TheZoc commented on #71
No more complaints or feedback, I"m closing this issue.

[2018-12-21 20:58] #71 closed, assigned to nobody

[2018-12-21 20:59] #72 closed, assigned to nobody

[2018-12-21 21:10] TheZoc commented on #73
Added folder and instructions to the next release

[2018-12-21 21:10] #73 closed, assigned to nobody

[2018-12-21 21:22] arenaceous commented on #69
Just to confirm its a prediction issue. I've replaced the ramps with stairs so its a little bit less jittery but not much.

[2018-12-21 21:23] TheZoc commented on #79
Okay, this is what causes this behavior:

- When the flag is dropped, it sets a timer (actually, a "SetNextThink"), with the delay of `sf_flag_pickupdelay`, to return the flag.
- When the flag is dropped into a `func_disposer`, it is instantly returned (checked sf193 code, works the same way)
- While already on the base, the previously set timer triggers, playing the return sound, etc.

[2018-12-21 21:44] TheZoc commented on #79
I just added an (ugly) hack to prevent the silent return + loud return later on.

I'm a bit ashamed to write such poor code, but, damn, SF code quality is hard to work with already ☹️

[2018-12-21 21:44] #79 closed, assigned to nobody

[2018-12-21 21:55] TheZoc commented on #69
Closing this, in favor of #51.
I think the best possible fix was added already :)

[2018-12-21 21:55] #69 closed, assigned to nobody

[2018-12-21 21:56] TheZoc commented on #78
I"m not sure this is fixable by code, since most of this logic is done on the maps :/

[2018-12-21 22:32] Melectrome commented on #78
Plus, most maps don't have start camera spawns and actual spawns near buttons...

[2018-12-21 22:33] Melectrome opened #80 "More console spam"
`weapon_shotgun[112]: Playing sequence 7 but there's only 4 in total?`
Is printed whenever another player shoots the shotgun.
This also happens with other weapons.

[2018-12-22 02:31] Nick12506 commented on #78
Better to document then to ignore. This could lead to people spawning in 1 team a extra teams worth of blocks :/.

[2018-12-22 02:47] TheZoc commented on #80
This was already reported in #55

It's a HL2DM bug.

https://steamcommunity.com/groups/WeAreUnitedGamers/discussions/0/846955554775707800/

I feel bad about adding this "fix" for this, but I guess there's no way out of it.
I'll add to the next build.

[2018-12-22 02:53] #80 closed, assigned to nobody

[2018-12-22 02:54] TheZoc commented on #78
+use code isn't available for editing, so, I can't modify this behavior :(

[2018-12-22 02:54] #78 closed, assigned to nobody

[2018-12-22 02:56] TheZoc commented on #48
I think the rest of the requests in this issue aren't easy to implement without a major change in the code...
I guess we got a good amount of them in :)

[2018-12-22 02:56] #48 closed, assigned to nobody

[2018-12-22 05:04] TheZoc commented on #78
Actually, I managed to fix this in a completely different way.
Now, only blue and red teams can spawn blocks, preventing exploits like this 😉

[2018-12-22 22:17] Sunseille commented on #70
Happening once you hit 2 blocks at same time
The more blocks you hit, the more line you get into the console.

exemple:
You shoot at blocks and hit 2 blocks:
`Entity 211 (class 'prop_physics') reported ENTITY_CHANGE_NONE but 'm_iHealth' changed.
Entity 212 (class 'prop_physics') reported ENTITY_CHANGE_NONE but 'm_iHealth' changed.`
are now visible in the server's console

[2018-12-22 22:18] Sunseille commented on #70
Happening once you hit 2 blocks at same time
The more blocks you hit, the more line you get into the console.

exemple:
You shoot at blocks and hit 2 blocks:
[code]

[2018-12-22 22:19] Sunseille commented on #70
Happening once you hit 2 blocks at same time
The more blocks you hit, the more line you get into the console.

exemple:
You shoot at blocks and hit 2 blocks:
`Entity 211 (class 'prop_physics') reported ENTITY_CHANGE_NONE but 'm_iHealth' changed.
Entity 212 (class 'prop_physics') reported ENTITY_CHANGE_NONE but 'm_iHealth' changed.`
are now visible in the server's console

[2018-12-23 08:37] ghost opened #81 "Server's Console writing "m_iHealth" while shooting at multiple blocks"
Happening once you hit 2 blocks at same time
The more blocks you hit, the more line you get into the console.

exemple:
You shoot at blocks and hit 2 blocks:
`Entity 211 (class 'prop_physics') reported ENTITY_CHANGE_NONE but 'm_iHealth' changed.
Entity 212 (class 'prop_physics') reported ENTITY_CHANGE_NONE but 'm_iHealth' changed.`
are now visible in the server's console

[2018-12-23 08:40] ghost commented on #51
You can spawn blocks during combat phase on sf_deck

[2018-12-23 15:11] Melectrome opened #82 "Pure server whitelist improvements"
`pure_server_whitelist.txt` has some issues.

First of all, there was no need to type out every single file into this text file, as you can just use the following syntax:
`sound\...                            trusted_source`
`models\...                           trusted_source`
`materials\...                        trusted_source`
`particles\...                        trusted_source`
to target fil

[2018-12-24 02:18] TheZoc commented on #82
@Melectrome Can you, please, craft the exact file required for us, please, since you seem to have learned a lot about the whole process? :)

[2018-12-24 03:10] phit commented on #29
the images are hosted on Steam servers, if you manually wanna set them they are placed in `Steam\userdata\[yourid3]\config\Grid\`
so there is no proper way to ship them with the installation

e.g. http://cdn.akamai.steamstatic.com/steam/apps/220/header.jpg

[2018-12-24 03:23] arenaceous commented on #29
you could put the image in every folder that is in userdata.

[2018-12-24 13:00] Melectrome commented on #82
Will do.

[2018-12-24 13:38] Melectrome commented on #82
@TheZoc In the next RC, can you include the /scripts/ folder to be VPK'd?

[2018-12-24 13:55] Melectrome commented on #82
Other than that, I did it.
Just make sure to VPK /scripts/ for next update pls
[pure_server_whitelist_example.txt](https://github.com/TheZoc/sourceforts-bug-tracker/files/2707383/pure_server_whitelist_example.txt)
[pure_server_full.txt](https://github.com/TheZoc/sourceforts-bug-tracker/files/2707384/pure_server_full.txt)
[pure_server_minimal.txt](https://github.com/TheZoc/sourceforts-bug-tracker/f

[2018-12-24 18:26] Nick12506 commented on #82
I don't see why /sound\ should be restricted. I've never met a hacker that hacked with sound and that's the field I've studied for over a decade formally..

[2018-12-24 20:08] Melectrome commented on #82
Actually, I kinda agree, but keep in mind that full is for full file consistency - full purity, meaning no mods at all. It's not a default setting as well, so dont worry.

Ultimately everything is up to the server operators, these are just files meant to be as examples/tournament-level enforcements.

PS: What about something that amplifies grenade/sniper shot sounds or block unwelding sounds makin

[2018-12-24 22:02] Melectrome commented on #51
About the camera jitter, I noticed it only happens on steep ramps/stairs, less steep ramps/stairs don't have this issue.

[2018-12-25 00:56] arenaceous commented on #51
Should I redesign basin to have 2/3 stairs instead of 1/1 stairs?

[2018-12-25 05:09] damienn commented on #70
Another sprint issue:
end combat with 0 sprint, can not sprint in build

[2018-12-26 20:35] arenaceous opened #83 "Freezestatus Crash"
Someone else reported this in the discord, however the game crashes when looking at a block frozen or unfrozen by someone who has left the server.

[2018-12-26 20:37] arenaceous opened #84 "Flag return on pickup"
Reported in the discord by DW "flag seems to return sometimes on pickup"

Need more information.

[2018-12-27 00:00] Melectrome commented on #51
nah fuck that, keep as is.

[2018-12-27 02:54] TheZoc commented on #83
Fixed/Re-implemented on RC3 :)

[2018-12-27 02:54] #83 closed, assigned to nobody

[2018-12-27 03:23] TheZoc commented on #82
Added all those files to RC3, with some modifications (i.e. `trusted_keys_base.txt` was copied from hl2dm, to use valve keys)

I don't get why add scripts to vpk, but I just did it.

While I'll be closing this issue, I'd love if you ( @Melectrome ) could verify if everything is correct on RC3 :)

[2018-12-27 03:23] #82 closed, assigned to nobody

[2018-12-27 03:25] TheZoc commented on #81
Weirdly enough, this only happens with frozen blocks, right?

[2018-12-27 05:12] TheZoc commented on #81
Okay, so here's everything I found out while trying to solve this issue:

This are of the code is inaccessible.
Apparently, it's a warning about changing a member variable and not reporting that it changed.

I managed to find this file: https://github.com/VSES/SourceEngine2007/blob/43a5c90a5ada1e69ca044595383be67f40b33c61/se2007/engine/sv_packedentities.cpp#L206

Apparently that wasn't supposed to

[2018-12-27 05:12] #81 closed, assigned to nobody

[2018-12-27 05:31] TheZoc commented on #70
I removed the non-related mdmp files from the topic.

I just pushed a fix that I hope it lower the chances of this issue happening.
I won't close it. If it still happens, please, report back.

[2018-12-30 09:37] arenaceous opened #85 "Merge Scoreboard fix"
Zoc, merge the scoreboard fix. :)

[2019-01-03 05:00] Melectrome opened #86 "DONT delete pure_server_full.txt"
please dont

[2019-01-25 19:45] Melectrome commented on #86
please don't.

[2019-01-25 19:48] Melectrome opened #87 "sv_pure major fix"
No foreword. Just fix this in next release please. @TheZoc

Changes needed to be made:
- [x] Update gameinfo.txt with the one attatched to this issue
- [x] Remove trusted_keys.txt
- [x] Replace trusted_keys_base.txt with the one attatched to this issue

Files:
[gameinfo.txt](https://github.com/TheZoc/sourceforts-bug-tracker/files/2807761/gameinfo.txt)
[trusted_keys_base.txt](https://github.com/The

[2019-01-25 21:03] Melectrome commented on #86
.

[2019-01-25 21:03] #86 closed, assigned to nobody

[2019-01-29 13:09] Melectrome opened #88 "SF Icon fix"
Simple fix to make the sourceforts icon appear in the taskbar.
Without this fix:
![image](https://user-images.githubusercontent.com/35193841/51910254-fad4dc80-23ce-11e9-82e1-33c668fd4037.png)

WITH the fix:
![image](https://user-images.githubusercontent.com/35193841/51910222-e55fb280-23ce-11e9-8b82-5c2be8232874.png)

## How to apply the fix
- [x] Change names of the following files:
in /sfclassic/

[2019-01-29 13:12] Melectrome commented on #87
Okay, maybe I do need to give some context.
What this does is delete the unused trusted_keys.txt file, and make it so that trusted_keys_base.txt has both the Valve public key and the sourceforts public key as trusted keys, meaning that sourceforts files and hl2/sdk2013mp files will be trusted on pure servers.

The gameinfo.txt is basically a cleaned-up version that loads only the necessary files i

[2019-01-29 13:30] Melectrome opened #89 "sound patch thingy"
bad idea.

[2019-01-29 13:32] Melectrome commented on #89
.

[2019-01-29 13:32] #89 closed, assigned to nobody

[2019-01-29 14:58] Melectrome opened #90 "Missing steam.inf fix"
Sourceforts classic has a missing steam.inf file, a file that tells steam which game is being played for counting hours and displaying on the profile.
Without it, a few issues arise like SDK 2013 Multiplayer's hours not being added on your steam profile, game played not being displayed and (rarely) being unable to connect to servers and more.

I made one for SF. To fix simply place in the mod dire

[2019-01-29 15:03] Melectrome opened #91 "title2 suggestion"
Gameinfo.txt has an option for "title2" which is basically a secondary title, something used in HL2DM's main menu to show the "Deathmatch" under "HALF-LIFE 2".
So I thought, it would be cool to add it to the gameinfo.txt with the text "Classic", so that the main menu shows:
![image](https://user-images.githubusercontent.com/35193841/51917168-3e374700-23df-11e9-8c79-dc5e77ea3a77.png)

[2019-01-29 15:08] Melectrome commented on #91
If only it could be a bit smaller than the main title.

[2019-01-29 15:17] Melectrome commented on #91
Although I think this is fine.
We can shift it slightly in ClientScheme.res
![image](https://user-images.githubusercontent.com/35193841/51918164-5314da00-23e1-11e9-98ab-92d4f90a6c24.png)

[2019-01-29 15:19] Melectrome commented on #91
I'm pretty sure the size of the secondary title is editable somewhere in the code for the main menu.

[2019-01-29 15:22] Melectrome opened #92 "Version number in bottom-right corner?"
I'd love to see the return of the version number in the bottom-right corner. And not with the background image this time! It should be a vgui thing. I don't know how hard would it be to add additional text to a main menu @TheZoc

[2019-01-30 07:29] arenaceous opened #93 "Sprint in build phase"
If the combat phase is left with 0 sprint in your meter, you will have no sprint in the build phase. (Possibly also a problem in the reverse phase transition)

[2019-01-30 07:29] arenaceous opened #94 "Scout"
Double jump for scout? 😉

[2019-01-30 10:44] Melectrome commented on #94
no tf2 pls
also that would completely change the whole entire meta
if we want to add this make it optional

[2019-01-31 21:00] Melectrome opened #95 "Jitter when going up ledges or up clipped stairs is still a thing"
Is this a nofix? Last issue about this was kind of unclear, so I'm starting a new one.
Basically, if you walk up clipped stairs or ledges (like the side of sf_basin), you get camera jitter.
This is most likely a prediction issue.
Same happens when surfing.

To reproduce: Join a server (you have to have some ping), go up normally or sprint up the side ramp on sf_basin or any map which has somewhat

[2019-01-31 21:43] Melectrome commented on #95
UPDATE: Seems that this is also a HL2DM issue. What the fuck?

[2019-01-31 22:00] Melectrome commented on #95
Visuals.
From HL2DM, but the same bug applies to sourceforts.
https://www.youtube.com/watch?v=mkJ_He6kMDs
https://www.youtube.com/watch?v=JbGE0UaCuv4

[2019-01-31 23:18] arenaceous commented on #95
This is a no fix as it's an engine prediction issue.

[2019-02-01 01:16] TheZoc commented on #70
Apparently this is fixed!
Closing it! :)

[2019-02-01 01:16] #70 closed, assigned to nobody

[2019-02-01 01:16] TheZoc commented on #85
Merged for RC4

[2019-02-01 01:16] #85 closed, assigned to nobody

[2019-02-01 01:27] TheZoc commented on #87
Merged for RC4

[2019-02-01 01:27] #87 closed, assigned to nobody

[2019-02-01 01:28] TheZoc commented on #88
Merged in RC4

[2019-02-01 01:28] #88 closed, assigned to nobody

[2019-02-01 01:32] TheZoc commented on #90
Where did you get that info from? 😮

Added to RC4

[2019-02-01 01:32] #90 closed, assigned to nobody

[2019-02-01 01:33] TheZoc commented on #94
I don't think we're going to have a balance test for SF1 anymore :P
Sorry :(

[2019-02-01 01:33] #94 closed, assigned to nobody

[2019-02-01 01:34] TheZoc commented on #95
Yeah, Source Engine issue :(

[2019-02-01 01:34] #95 closed, assigned to nobody

[2019-02-01 01:34] TheZoc commented on #93
Can you give exact reproduction steps for this?
(Please, don't make me attempt to finish combat phase with no energy, it will take ages to reproduce ahaah :(  )

[2019-02-01 01:35] TheZoc commented on #92
I don't think this is easily implementable :(

Maybe modify the title2 position for that?
(Change it's version to `Classic 1.0` perhaps?)

[2019-02-01 01:36] TheZoc commented on #91
Maybe change this for #92 ?

[2019-02-01 02:43] Nick12506 commented on #92
Classic 1.0 RC4*

[2019-02-01 03:28] arenaceous opened #96 "Maplist"
The maplist should be updated so its not alphabetical (so overload and overloaded aren't adjacent) and include the new maps (excluding sandbox).

Possible suggestion attached.

[maplist.txt](https://github.com/TheZoc/sourceforts-bug-tracker/files/2819967/maplist.txt)

[2019-02-01 04:43] arenaceous opened #97 "particle fixes"
Particles hard edges fixed as specified [here](https://steamcommunity.com/games/362890/announcements/detail/1715207569423590279)

[materials.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2820119/materials.zip)

[2019-02-01 10:51] Melectrome commented on #90
Simply copied the one from SDK 2013 Multiplayer.
Steam uses this file to check what game is being played so that it can count hours.

[2019-02-01 10:53] Melectrome commented on #96
Maplist.txt definitely needs to be updated as new maps are added. And A-Z sorting is a good idea.

[2019-02-01 13:47] Melectrome opened #98 "Misc: LARGE chat"
![image](https://user-images.githubusercontent.com/35193841/52126662-3ae6ca00-2630-11e9-8890-162f226d5570.png)
chat is kinda large
not a bad thing but could be
shrunk down
we can try and port the smaller chat from hl2dm
its just a res copy job
ill try to do it

[2019-02-01 14:05] Melectrome commented on #70
Wtf, I just somehow got infinite sprint in RC4!

[2019-02-01 14:11] Melectrome opened #99 "INFINITE SPRINT BUG: HELP WANTED!"
Okay, so me and PsychoAlex were fucking around on his server, and suddenly I noticed that I had infinite sprint - the sprint bar didn't appear and I could hold shift and run forever.
This means that the infinite sprint bug is kinda still a thing.
I have no clue how to reproduce this though.
This is why help is wanted.

If someone can effectively find a way to reproduce this bug, please respond

[2019-02-01 14:29] Melectrome commented on #92
I tried doing it. It works!... But only for 16:9.

[2019-02-01 20:52] Nick12506 commented on #92
If the position is the issue for non 16:9 , move it to the top of the SourceForts logo. So that everyone can see it..

[2019-02-01 20:53] Nick12506 commented on #99
What map?

[2019-02-01 23:58] arenaceous opened #100 "Minimum combat phase time"
The minimum combat time is 120, trying to set it lower results in a combat time of 2 min. It should be allowed to be set to any positive time (useful for debugging)

[2019-02-02 02:20] arenaceous commented on #51
@TheZoc , please included the updated overloaded and sphinx
@arenaceous re-update tactical and overloaded to remove the current "panel" block spawning method which is terrible.

[2019-02-02 11:37] Melectrome commented on #99
Doesn't matter, really.
Yesterday eurofags got together for a friday night pug, and it happened to me again on sf_sphinx.
I wish I was recording.

[2019-02-02 11:37] Melectrome commented on #100
I agree :)
Minimum should be like 5 secs.

[2019-02-02 22:04] arenaceous commented on #100
minimum should be 1, or at leads give a warning when set too low

[2019-02-03 00:38] Melectrome commented on #100
Same with the build times tbh.

[2019-02-03 00:38] Melectrome commented on #97
That's just plain cool. Pls apply!

[2019-02-03 02:48] arenaceous opened #101 "func_disposer properties"
Could you add a damage type to func_disposer and func_disposer_selective (look at trigger hurt for the list). If generic, deaths would be left as is, but if set to a damage type (say , BURN touching the entity would say set on fire first and then 0.1s later kill you with no ragdoll or physics debris.

[2019-02-03 03:14] arenaceous opened #102 "Missing Texture for slime"
The Slime texture underneath is missing. I have included it here.
[nature.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2825130/nature.zip)

[2019-02-03 09:19] Melectrome commented on #100
Also we've hit a milestone 🎉
Issue #100 🎉🎉

[2019-02-03 10:40] Melectrome commented on #92
top of the sourceforts logo?
wdym?

[2019-02-04 20:28] Melectrome opened #103 "Suggestion: CVAR to enable/disable player collisions?"
Title.
Something so that we don't have to use external plugins like No Block
https://forums.alliedmods.net/showthread.php?p=462813

[2019-02-05 04:46] arenaceous commented on #103
If this is implemented, there should be 4 modes.
Everyone is solid
Your team is non-solid
The other team is non-solid
No teams are solid.

[2019-02-05 06:04] TheZoc commented on #103
There is a plugin for this. Why avoid using the plugin?
It surely will be more updated that the mod code, if something breaks

[2019-02-05 06:06] TheZoc commented on #101
You mean, selecting the damage type when creating the entity?
(That would probably break backwards compatibility)

[2019-02-05 06:06] TheZoc commented on #99
This seems to be a duplicate of #70
Need to check server logs when this happens ASAP.

Do you think you can check this?

[2019-02-05 06:07] TheZoc commented on #100
Won't `togglephase` be enough for testing?

I'm not sure I understand what's needed here.

[2019-02-05 06:07] TheZoc commented on #98
Please, submit resource file with the requested change :)

[2019-02-05 06:09] TheZoc commented on #97
Cool! I'll merge on next version :D

[2019-02-05 06:09] TheZoc commented on #96
@Melectrome Your comment creates the issue he attempted to avoid hahah :)

I'll merge this file on the next version.

[2019-02-05 06:10] TheZoc commented on #92
I think there's a specific prefix for aligning to the right. I"m willing to guess "r100" would work 100 pixels from the right of the screen.

Need to test, though.

[2019-02-05 12:38] Melectrome commented on #103
The plugin only has one option, namely:
Everyone is non-solid.

This is why I wanted to see this become a cvar, server owners not interested in sourcemod could have this functionality enabled easily, and they'd have more options like arena suggested

[2019-02-05 12:38] Melectrome commented on #95
Can we reopen this?

[2019-02-05 12:43] Melectrome commented on #100
Just reduce the minimum phase times

[2019-02-06 00:09] Melectrome opened #104 "Retarded but working fix to save sprays"
So we all know that sprays are borked because they save to config.cfg, but they are for some goddamn reason not loaded and cl_logofile resets to default on gamestartup despite it being declared in config.cfg.
I was testing around and found a really dumb but working way to patch it: Exec it again on startup!

To apply fix: replace the current valve.rc in /cfg/ with the one provided:
[valverc.zip](h

[2019-02-06 00:10] Melectrome commented on #99
Yeah. I'll play around on my server and keep an eye on the logs.

[2019-02-06 07:02] arenaceous commented on #101
I don't necessarily see it as breaking compatibility.
if the key is not present do old functions
if the key is present do as specified.

[2019-02-08 18:44] arenaceous commented on #51
Of note, when updating tactical I did succesfully build more than 50 cubemaps into a map
tags used when launching sf from hammer are as below.
-dev -console -allowdebug -game $gamedir +map $file

[2019-02-16 13:53] Melectrome opened #105 "Updated gameserverconfig.vdf"
I updated the gameserverconfig.vdf file to be on par with the listenserver settings file.
Pls replace for the next RC.
[gameserverconfig.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2871990/gameserverconfig.zip)

[2019-02-18 15:30] Melectrome opened #106 "Possible viewmodel animation thing fix?"
Issue:
`* With high ping, when moving the camera around the weapon doesn't move in the viewmodel, it just stutters and glitches around but stays still (ommited)`

Would this: https://developer.valvesoftware.com/wiki/Viewmodel_Prediction_Fix
be a fix for it?

[2019-02-18 22:26] TheZoc commented on #106
The current code looks like this, and has this Counter Strike warning ahahah

[code]

odd hahaha

I applied the CSTRIKE fix to the current SF codebase. Nice catch!

[2019-02-18 22:26] #106 closed, assigned to nobody

[2019-02-18 22:31] TheZoc commented on #105
Awesome! Merged for RC5!
Thanks!

[2019-02-18 22:31] #105 closed, assigned to nobody

[2019-02-18 22:35] TheZoc commented on #104
Nice finding!

Added to RC5 :D

[2019-02-18 22:35] #104 closed, assigned to nobody

[2019-02-18 22:38] TheZoc commented on #102
Added to RC5 :D

[2019-02-18 22:38] #102 closed, assigned to TheZoc

[2019-02-18 22:38] TheZoc commented on #101
I'm not sure how to apply this fix... Is this just a FGD change, or something else is needed?

[2019-02-18 22:41] TheZoc commented on #100
I won't add a warning - too much work, sorry!
(I'd need to learn how that works on source sdk again, sorry!)

Currently, the minimum amount of time is 120 secs.
Are you sure?

There's `addtime` and `togglephase` commands to aid already.

(I'm wondering, why is this needed too :) )

[2019-02-18 22:43] TheZoc commented on #97
I just copied that to `materials/` for RC5!

Is there anything else needed for this fix? (No files were replaced!)

[2019-02-18 22:48] TheZoc commented on #96
Merged for RC5.
Maplist.txt can still be updated if you think there's a better order or if the starting map isn't ideal.

[2019-02-18 22:48] #96 closed, assigned to TheZoc

[2019-02-18 22:48] TheZoc commented on #93
This is probably related to #99

[2019-02-18 22:49] TheZoc commented on #92
Any updates on this? :)

[2019-02-18 22:49] TheZoc commented on #84
Any updates on this?

[2019-02-18 22:56] arenaceous commented on #101
This would require a fgd change and a code change.

[2019-02-18 22:57] arenaceous commented on #97
That should be it.

[2019-02-18 22:58] arenaceous commented on #100
Yea, min time may as well be 1 second, just makes testing that much easier. plus makes building cubemaps a bit faster. (cubemaps i build during the combat phase)

[2019-02-19 03:00] TheZoc commented on #100
@arenaceous You can use `togglephase` to switch phases 😮

[2019-02-19 03:01] #97 closed, assigned to TheZoc

[2019-02-19 03:48] arenaceous commented on #100
I do, but removing the minimum means I don't have to 👍

[2019-02-21 10:54] arenaceous commented on #51
Submit:
sf_canyon (finished pending cubemaps)
Update:
sf_fronts - remove the current panel block spawner fix floor texture and 45deg issues, add sphinx floor type clipping.

[2019-02-22 10:29] Melectrome commented on #99
Closing for #93

[2019-02-22 10:29] #99 closed, assigned to nobody

[2019-02-22 18:07] Melectrome commented on #93
I closed my infinite sprint bug issue for this as I found a proper way to reproduce all of the bugs in my old issue and this issue.
To get infinite sprint:
1. At the end of buildphase hold sprint and move around until the combat phase starts
2. Infinite sprint.

With infinite sprint you get the
`DataTable warning: player: Out-of-range value (267.076508/100.000000) in SendPropFloat 'm_flSuitPower',

[2019-02-23 03:49] Sonsari commented on #51
sf_skywalk center spawner blocks others if someone is afk there
sf_tactical to bright

[2019-02-23 18:00] Melectrome commented on #91
Actually I'm lazy I don't want to experiment so I'm closing this

[2019-02-23 18:01] Melectrome commented on #98
HL2DM and CS:S have the same issue and I don't feel like res editing this...

[2019-02-23 18:01] Melectrome commented on #84
Noone has reported this happening again... Can we close?

[2019-02-23 18:02] Melectrome commented on #92
r100 doesn't work
its impossible i think
and i dont want to experiment tbh
closing

[2019-02-23 18:26] TheZoc commented on #92
I still wanna take a look into this :)
Reopening

[2019-02-23 18:26] TheZoc commented on #91
Reopening for now

[2019-02-25 05:59] arenaceous opened #107 "Tactical Scrolling texture fix"
This changes the scrolling door texture on tactical so it doesn't have metal noises or decal when shot.
[materials.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2899161/materials.zip)

[2019-02-27 17:39] Melectrome opened #108 "Small updates for advanced crosshair support and more"
A zip containing some updated/new files with the following changes:
- OptionsSubMultiplayer.res adjusted for advcrosshair and advanced options support (see discord for preview)
- Imported TF2/DOD:S simple crosshairs
- HL2/SF1941 crosshair imported as a .vtf to be selectable from the crosshair picker
- Added a sourceforts crosshair background (see discord for preview, multiplayer options image with

[2019-02-27 20:56] Melectrome opened #109 "Smooth particles fix is broken?"
https://cdn.discordapp.com/attachments/504401652221214741/550404771685859340/unknown.png
https://cdn.discordapp.com/attachments/504401652221214741/550403836339290112/unknown.png
https://cdn.discordapp.com/attachments/504401652221214741/550403500920537099/unknown.png
and a few more examples (discord)

[2019-02-28 19:38] Melectrome commented on #98
Pls reopen, I fixed most of it, but is there a way to change the height of the background? I could change its width but no matter what I did I couldn't change the height

[2019-03-05 20:01] Melectrome opened #110 "pure_server_full.txt necessary improvements"
Just a simple improvement to the pure_server_full.txt whitelist file to be not overrestrictive and to allow simple mods like crosshair mods or sound mods.
[criticalwhitelistfix.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/2932601/criticalwhitelistfix.zip)

[2019-03-09 05:58] arenaceous opened #111 "Fort Saving"
Some way of saving/loading a fort (ideally in plain text) would be awesome. Ideally it should bug you if you load a fort on the wrong map, but you should be able to override it.
Everyone should be able to save a fort, but only server admins can load a fort
You should be able to set fort name as well. Ideally saved to a forts folder in sfclassic.

Options:
Save all
Save only red
Save only blue
Save

[2019-03-09 08:51] arenaceous commented on #51
Skywalk: centre spawns removed
Tactical: brightness lowered
Fronts:
- Completely redone
- No tripping hazards anymore! (most small surfaces are now ramps for jumping off of)
- Middle lowered
- Side ledges extend into bases more

Canyon: small texture fixes
Overloaded: small texture fixes

[2019-03-09 13:51] Melectrome commented on #111
This can be done with server plugins and shouldn't be a built-in feature, as coding it may take a long time

[2019-03-11 18:42] TheZoc commented on #84
Without new reports, it makes sense to close this.
Reopen if it happens again :)

[2019-03-11 18:42] #84 closed, assigned to nobody

[2019-03-11 19:53] TheZoc commented on #91
Changed it for RC6.

@Melectrome I'd appreciate if you attempted to tinker with it a bit (on RC6 ofc).

There's not much room for improvement, if I don't want to recode it from scratch, sadly... And I prefer to spend that time in SF2 :)

[2019-03-11 19:54] TheZoc commented on #92
Changed it for RC6, details on #91

[2019-03-11 19:54] #92 closed, assigned to nobody

[2019-03-11 19:55] TheZoc commented on #91
Currently, looks like this:

You might want to compare ClientScheme.res with RC5 :)

![Screenshot 2019-03-11 16 48 39](https://user-images.githubusercontent.com/924927/54153449-62deff80-441e-11e9-9019-92c0e5610e5b.png)

[2019-03-11 20:21] TheZoc commented on #100
Changed in RC6:
- Removed the hard-coded restriction of phase lengths being 120 seconds minimum.
- Added a warning if the phase length variable is set to anything below 120 seconds.

[2019-03-11 20:21] #100 closed, assigned to nobody

[2019-03-11 20:30] TheZoc commented on #103
This seems to be a lot of work to add tbh.
I'm hesitant to add it due to the experience with the "last frozer" plugin, that led to a bunch of crashes and took a while to find out wtf was wrong :(

That team based collision could be trouble and require major modifications... (I don't recall how Source handles all of it).

I'd recommend changing that plugin to check the phase the game is in and only

[2019-03-11 20:33] TheZoc commented on #107
Merged

[2019-03-11 20:33] #107 closed, assigned to nobody

[2019-03-11 20:41] TheZoc commented on #110
Added to RC6!

[2019-03-11 20:41] #110 closed, assigned to nobody

[2019-03-11 20:51] TheZoc commented on #111
This was planned and partially implemented in Haven/SourceSDK, but it wasn't complete, so it's hard to port over.
This is planned for SourceForts 2/UE4, not yet implemented.

SourceForts Classic doens't have the basic structure to allow it and changing it could require major code changes, even if partially implemented in a different way.

Sadly, this isn't trivial as it sounds to be polished and w

[2019-03-11 20:53] TheZoc commented on #111
I"m closing this, so it won't keep bugging me, but if you want to create a plugin for this, need a place to debase or need this open to remind someone else about working on it, feel free to reopen it 😄

[2019-03-11 20:53] #111 closed, assigned to nobody

[2019-03-11 20:54] TheZoc commented on #103
I'll be closing this, but as always, feel free to reopen it if needed :)

[2019-03-11 20:54] #103 closed, assigned to nobody

[2019-03-11 21:02] TheZoc commented on #109
Reverted the changes on RC6

[2019-03-11 21:02] #109 closed, assigned to nobody

[2019-03-11 22:03] TheZoc commented on #93
Due to the nature of this bug, I added a fix that prevents stamina from being drained at all during the build phase - it shouldn't be actually draining it anyway.

This will fix the "no sprint" during build phase.

If the extra stamina was being added due that, when switching phases, this fix will fix the infinite sprint bug.
Please, pay special attention to server logs!

This fix was added to RC6

[2019-03-27 21:05] TheZoc commented on #108
Added to RC7 😁

[2019-03-27 21:05] #108 closed, assigned to nobody

[2019-03-30 00:26] arenaceous opened #112 "Detail Distance Rest"
The commands
cl_detailfade "5000"
cl_detaildist "7500"
which were added in RC6
reset to their source defaults (400 and 1200 respectively) every map. I have tried putting the commands in the config and autoexec to no avail. They have to be set every map load or change level.

[2019-03-30 09:22] Melectrome commented on #112
It's a code/map specific thing afaik, same happens with the commands r_cheapwaterstart and r_cheapwaterend on most TF2 maps, since they have custom visibility/fog settings...

[2019-03-31 03:47] arenaceous commented on #112
ah, that makes sense. I guess I'll set it in the map itself with a client command.

[2019-03-31 03:47] #112 closed, assigned to nobody

[2019-04-07 01:05] Nick12506 commented on #51
Hey, on sf_Fronts if you drop the flag at the front of the player spawns you can get the flag into the spawn room.

You have a auto-drop at the door but it only makes me drop the flag once I reenter the zone.. Maybe use a false floor that allows the flag to drop and respawn?

![image](https://user-images.githubusercontent.com/11761833/55677079-8b3c0b80-58af-11e9-979a-09c328a8c873.png)

[2019-04-07 01:32] Sonsari opened #113 "Jointeam flag teleporting"
You can teleport the flag to your spawn by grabbing the flag and then jointeam to the other team

[2019-04-07 01:52] Nick12506 opened #114 "Flag lost on disconnect"
Wind left the game with the flag, and he took it on disconnect :/

![image](https://user-images.githubusercontent.com/11761833/55677471-2801a780-58b6-11e9-8298-920006d012db.png)

[2019-04-07 02:04] Nick12506 commented on #114
We replicated it.

![image](https://user-images.githubusercontent.com/11761833/55677548-e540cf00-58b7-11e9-86b4-16424bc2947a.png)

To replicate, get 2 people. 1 person get flag, then press quit on the main menu :/...

[2019-04-07 07:09] TheZoc commented on #113
Deja vu?

[2019-04-07 07:10] TheZoc commented on #114
Nice catch.

Was vvvvvv the nickname of who had the flag, or it changed to that after the flag carrier disconnected?

[2019-04-07 15:47] Nick12506 commented on #114
VVVVVVV is the player's name, the name stays on disconnect.

I had him replicate it twice to ensure the method was correct.

[2019-04-08 17:27] Melectrome commented on #113
Thought this was patched lol
EDIT: Shit it's still a thing, but only if you join the other team...

[2019-05-03 19:48] metenn opened #115 "Powerful Crouch exploit"
https://youtu.be/aQCy2zQKmSE
This exploit allows you to trick the engine into thinking you are crouched, which allows you to go under blocks that you have to crouch under, while your view still remains in standing position, essentially allowing you to look above blocks that you are crouched under.
To make the matters worse, you can shoot, throw nades and do other things, and they will happen above

[2019-05-03 19:52] metenn commented on #93
Still doesn't fix.
The only thing I noticed is that the error messages spam less than they used to.

[2019-05-03 20:00] metenn commented on #115
Update:
I've learned that this is an issue in HL2/Portal issue too and it's been in source for a long time now apparently.
![img](https://cdn.discordapp.com/attachments/504401652221214741/573961761258995712/unknown.png)
It's nicknamed "Schrodinger' Crouch" by the speedrunning community...
https://wiki.sourceruns.org/wiki/Schrodinger%27s_Crouch

[2019-05-04 15:18] metenn commented on #115
Update 2:
https://github.com/alliedmodders/hl2sdk/tree/episode1
![image](https://user-images.githubusercontent.com/49620905/57181164-996e4f00-6e90-11e9-81b1-23d681288279.png)
@TheZoc

[2019-05-04 15:20] metenn opened #116 "SourceTV crashes clients, unusable"
Title.
Trying to connect to a SourceTV server (via the Spectate tab in the server browser) or trying to open a demo results in a client crash.

Below is a sample STV demo and a SourceTV server address to connect to for testing:
[test_stv_demo.zip](https://github.com/TheZoc/sourceforts-bug-tracker/files/3144504/test_stv_demo.zip)
80.240.16.164:27020

[2019-05-04 21:40] metenn commented on #115
Hey! Maybe with the old movement we could even bring back scrolljumps!!! What do you think?

[2019-05-18 01:16] TheZoc commented on #99
This wasn't supposed to be closed. Still, fixed in RC7 (Finally! 😁 )

[2019-05-18 01:17] TheZoc commented on #93
Fixed in RC7 😁
(Also, this fixes #99)

[2019-05-18 01:17] #93 closed, assigned to nobody

[2019-08-02 22:46] J-Stott opened #117 "Slam climbing no longer possible"
Attempting to climb on slams sees you fall through them and blow up

[2019-08-17 14:56] metenn commented on #117
Tested with RC7, can confirm this is an issue. I'm assuming this was changed when attempting to fix #63.